<h1 class="govuk-heading-l">Finance</h1>
<p class="govuk-body">You can search for financial statements that are paid or unpaid.</p>

<%= render NpqSeparation::Admin::StatementSelectorComponent.new(params) %>

<%= render NpqSeparation::Admin::StatementsTableComponent.new(@statements) %>

<%= govuk_pagination(pagy: @pagy) %>
