<%= tag.h2(class: "govuk-heading-m", id: question_id) do %>
  What is a full and relevant qualification?
<% end %>

<p class="govuk-body">
  ‘Full and relevant qualifications’ are defined as level 3 qualifications (or higher) that demonstrate depth and level of learning appropriate to specified outcomes of full early years, childcare or playwork qualifications.
</p>

<p class="govuk-body">
  The qualification should have valid, reliable assessment and awarding procedures and must include an element of assessed performance evidence.
</p>
