<% hidden ||= false %>
<% button_text ||= "Continue with Teacher Auth" %>

<span <%= "class=govuk-visually-hidden" if hidden %>>
  <%=
    govuk_start_button(
      text: button_text, href: user_teacher_auth_omniauth_authorize_path(start_now: true), as_button: true
    )
  %>
</span>
