RAISE_ON_MISSING_TRANSLATIONS=false

ACTIVE_RECORD_ENCRYPTION_PRIMARY_KEY=sJkIDFhmhOrD94QXnF794i84p2mnfoDI
ACTIVE_RECORD_ENCRYPTION_DETERMINISTIC_KEY=LjUypIBcT6QlKkWdNJpNrTUH9oWe1ZdT
ACTIVE_RECORD_ENCRYPTION_KEY_DERIVATION_SALT=8ZIvwz3beLwRlIYVDOO1hTJ7Nq8RCqRD

GOVUK_NOTIFY_API_KEY=

GET_AN_IDENTITY_WEBHOOK_SECRET=

TRA_OIDC_DOMAIN=https://preprod.teaching-identity.education.gov.uk/
TRA_OIDC_CLIENT_ID=register-for-npq
TRA_OIDC_CLIENT_SECRET=
HOSTING_DOMAIN=http://localhost:3000

DQT_API_URL="https://preprod.teacher-qualifications-api.education.gov.uk"
DQT_API_KEY="preprod-apikey"

TRS_API_URL="https://preprod.teacher-qualifications-api.education.gov.uk"
TEACHER_AUTH_DOMAIN=https://preprod.authorise-access-to-a-teaching-record.education.gov.uk/
TEACHER_AUTH_CLIENT_ID=
TEACHER_AUTH_CLIENT_SECRET=
TRS_URL="https://preprod.teaching-record-system.education.gov.uk"
