<%= govuk_back_link(href: url_for(:back)) %>

<h1 class="govuk-heading-l">Participant</h1>

<%=
  govuk_summary_list do |sl|
    sl.with_row do |row|
      row.with_key(text: "ID")
      row.with_value(text: @user.id)
    end

    sl.with_row do |row|
      row.with_key(text: "ECF ID")
      row.with_value(text: @user.ecf_id)
    end

    sl.with_row do |row|
      row.with_key(text: "Name")
      row.with_value(text: @user.full_name)
    end

    sl.with_row do |row|
      row.with_key(text: "Email")
      row.with_value(text: @user.email)
    end

    sl.with_row do |row|
      row.with_key(text: "National Insurance Number")
      row.with_value(text: @user.national_insurance_number)
    end

    sl.with_row do |row|
      row.with_key(text: "Date of Birth")
      row.with_value(text: @user.date_of_birth.to_fs(:govuk_short))
    end

    sl.with_row do |row|
      row.with_key(text: "TRN")
      row.with_value(text: @user.trn)
    end

    sl.with_row do |row|
      row.with_key(text: "TRN validated")
      row.with_value(text: boolean_red_green_tag(@user.trn_verified) + (" (automatically)" if @user.trn_auto_verified))
    end

    sl.with_row do |row|
      row.with_key(text: "Get an Identity ID")
      row.with_value(text: @user.uid)
    end
  end
%>

<hr class="govuk-section-break govuk-section-break--l">

<h1 class="govuk-heading-l">Applications</h1>
<% if @user.applications.none? %>
  <p class="govuk-body">This participant has no applications.</p>
<% else %>
  <%= render partial: 'application', collection: @user.applications %>
<% end %>
