<% content_for :title do %>
  <%= @form.errors.present? ? "Error: " : nil %> Funding eligibility
<% end %>

<% npqeyl = Course.npqeyl.first %>

<h1 class="govuk-heading-xl">Funding eligibility</h1>

<p class="govuk-body">
You’re not eligible for scholarship funding for the <b><%= localise_sentence_embedded_course_name(course) %></b>
as you do not work in one of the eligible settings, such as state-funded schools.
<br>
This means that you would need to pay for this course another way.
<br>
However, you are elgible for scholarship funding for the <%= course_short_code(npqeyl) %>.
<br>
You can go back and select the <%= course_short_code(npqeyl) %> instead.
</p>
