<% content_for :title do %>
  <%= @form.errors.present? ? "Error: " : nil %> Funding elgibility
<% end %>

<h1 class="govuk-heading-xl">Funding elgibility</h1>

<p class="govuk-body">You're not elgible for scholarship funding for the <%= localise_sentence_embedded_course_name(course) %> because you or your employer is not registered on the Ofsted Early Years Register or with a registered Childminder Agency.</p>

<p class="govuk-body">This means you would have to pay for the course another way.</p>
