<h1 class="govuk-heading-l">Bulk operations</h1>

<ul class="govuk-list govuk-list--bullet">
  <%= tag.li( govuk_link_to("Revert applications to pending", npq_separation_admin_bulk_operations_revert_applications_to_pending_index_path, no_visited_state: true,)) %>
  <%= tag.li( govuk_link_to("Reject applications", npq_separation_admin_bulk_operations_reject_applications_path, no_visited_state: true,)) %>
  <%= tag.li( govuk_link_to("Update and verify TRNs", npq_separation_admin_bulk_operations_update_and_verify_trns_path, no_visited_state: true,)) %>
</ul>
