<%= govuk_back_link(href: url_for(:back)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Bulk Operation: Revert Applications to Pending</h1>

    <%=
      govuk_summary_list do |sl|
        sl.with_row do |row|
          row.with_key(text: "Filename")
          row.with_value do
            govuk_details(summary_text: @bulk_operation.file.filename) do
              tag.pre(@bulk_operation.file.blob.open {|file| file.read })
            end
          end
        end

        sl.with_row do |row|
          row.with_key(text: "Rows")
          row.with_value(text: @bulk_operation.rows)
        end

        sl.with_row do |row|
          row.with_key(text: "Created At")
          row.with_value(text: @bulk_operation.created_at.to_formatted_s(:govuk_short))
        end

        sl.with_row do |row|
          row.with_key(text: "Ran At")
          row.with_value(text: @bulk_operation.ran_at&.to_formatted_s(:govuk_short))
        end

        sl.with_row do |row|
          row.with_key(text: "Finished At")
          row.with_value(text: @bulk_operation.finished_at&.to_formatted_s(:govuk_short))
        end
      end
    %>

    <%=
      govuk_table do |table|
        table.with_caption(size: 'm', text: 'Result')
        table.with_body do |body|
          JSON.parse(@bulk_operation.result.gsub('=>', ':')).each do |ecf_id, result|
            body.with_row do |row|
              row.with_cell(text: ecf_id)
              row.with_cell(text: result)
            end
          end
        end
      end
    %>
  </div>
</div>
