<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    <%= title[:text] %>
  </h1>
  <% if body %>
    <div class="<%= body_classes.join(" ") %>">
      <%= body[:text] %>
    </div>
  <% end %>
</div>
