<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">You will not get an email alert</h1>
    <p class="govuk-body">If you change your mind, you can revisit <%= govuk_link_to "Register for a National Professional Qualification", registration_wizard_show_path(step: "start") %>.</p>
  </div>
</div>
