<h1 class="govuk-heading-xl">Funding</h1>

<p class="govuk-body">
  You’re not eligible for scholarship funding for <%= localise_sentence_embedded_course_name(course) %> because you do not work in one of the eligible settings, such as state funded schools.
  <br>
  This means that you would need to pay for the course another way.
</p>
