<h1 class="govuk-heading-xl">Funding</h1>

<p class="govuk-body">
  You’re not eligible for scholarship funding for the NPQ because you or your employer is not registered on the Ofsted early years register or with a registered Childminder Agency.
  <br/>
  This means that you would need to pay for the course another way.
</p>
<p class="govuk-body">
  For example you could pay for the course fees yourself or ask your workplace or trust to:

  <ul class="govuk-list govuk-list--bullet">
    <li>cover the full cost of the NPQ</li>
    <li>share the cost of the course with you</li>
  </ul>
</p>


