<h1 class="govuk-heading-xl">Funding eligibility</h1>

<p class="govuk-body">
  You're not elgibible for scholarship funding for the <%= course_name %> because you do not work in England.
  <br>
  This means that you would need to pay for the course another way.
</p>
