@import "./api_guidance/_masthead";
@import "./api_guidance/_header";

.api-guidance {
  $orange: darken(#f47738, 20%);
  $blue: #1d70b8;
  $dark-blue: #003078;
  $pink: darken(#d53880, 10%);
  $text: #0b0c0c;
  $green: #00703c;
  $light-grey: #f3f2f1;
  $light-pink: lighten(#f499be, 20%);
  $red: #d4351c;
  $dark-green: #365e07;

  .whats-new {
    background-color: $light-grey;
    border-bottom: 1px solid rgb(177, 180, 182);
  }

  .highlight {
    background-color: $light-grey;
    padding: 0.2em 0.5em;
    margin-bottom: 30px;

    pre {
      margin: 0.5em 0;
      word-break: normal;

      code {
        color: $text;
        font-size: 1em;
        line-height: 1.5em;

        .s, .s1, .s2, .vi, .sx {
          color: $pink;
        }

        .nt, .nf, .nc {
          color: $orange;
        }

        .n, .p, .k, .mi, .n, .o, .na, .ss {
          color: $dark-blue;
        }

        .k {
          font-weight: 600;
        }

        .no {
          color: #0e5e5e;
        }

        .kp {
          color: $green;
        }

        // comments
        .c,
        .c1 {
          color: $dark-green;
          font-style: italic;
        }
      }
    }
  }
}
