@function frontend-font-url($filename) {
  @return url("~assets/fonts/" + $filename);
}

@function frontend-image-url($filename) {
  @return url("~assets/images/" + $filename);
}

$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;

@import "~govuk-frontend/dist/govuk/base";
@import "~govuk-frontend/dist/govuk/core/index";
@import "~govuk-frontend/dist/govuk/objects/index";
@import "~govuk-frontend/dist/govuk/components/index";
@import "~govuk-frontend/dist/govuk/utilities/index";
@import "~govuk-frontend/dist/govuk/overrides/index";
@import "accessible-autocomplete";
@import "contents-list";
@import "subnav";
@import "big-number";
@import "admin";
@import "api_guidance";

h1.govuk-fieldset__heading {
  margin-bottom: 10px;
}

.js-enabled .npq-js-hidden {
  display: none;
}

.npq-js-reveal {
  display: none;
}

.js-enabled .npq-js-reveal {
  display: block;
}

// no idea why autocomplete is missing font-family
.autocomplete__option {
  font-family: "GDS Transport", arial, sans-serif;
}

.no-list-style-type {
  list-style-type: none;
}

.admin-search-box {
  background-color: #f3f2f1;
  padding: 20px 20px 0 20px;
  margin-bottom: 20px;
}

$admin-template-max-width: 1200px;

.govuk-template--wide {
  .govuk-width-container {
    max-width: 1200px;
  }
}
