code {
  padding: 2px 5px;
  font-family: monospace;
  background-color: govuk-colour("light-grey");
  white-space : pre-wrap;
  font-size: 0.8em;

  .govuk-panel--confirmation & {
    background-color: transparent;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}
