.funding-details {
    width: 100%;
    font-family: "GDS Transport", arial, sans-serif;
    border: 1px solid #B1B4B6;
    border-collapse: collapse;
}
tr { 
    border: 1px solid #B1B4B6;
    border-width: 1px 0;
}
tr:first-child {
    border-top: none;
}
tr:last-child {
    border-bottom: none;
}
.funding-details th { 
    background-color: #F3F2F1;
}

.funding-details th,
.funding-details td {
    padding: 20px;
    padding-right: 20px;
    text-align: left;
    font-size: 1.1875rem;
    font-weight: 700;
}

.status {
    display: inline-block;
    padding: 3px 10px;
    font-size: 1.1875rem;
    font-weight: normal;
    margin-top: 20px;
}
  
.eligible {
    background-color: #CCE2D8;
    color: #076137;   
}

.not-eligible {
    background-color: #F1CFC9;
    color: #992F20;   
}

.description {
    margin-top: 5px;
    font-size: 15px;
    font-weight: normal;
}

.in-review{
    font-size: 1.1875rem;
    margin-top: 5px;
    font-weight: normal;
}