<%= govuk_back_link href: npq_separation_admin_actions_log_index_path %>

<h1 class="govuk-heading-l">Changes to applications by <%= @admin.full_name %></h1>

<% if @versions.none? %>
  <div class="govuk-body">No applications have been updated by this admin user.</div>
<% else %>
  <%=
    govuk_table do |table|
      table.with_head do |header|
        header.with_row do |row|
          row.with_cell(text: "Application ID")
          row.with_cell(text: "Updated")
          row.with_cell(text: "Changes")
          row.with_cell(text: "Actions")
        end
      end

      table.with_body do |body|
        @versions.each do |version|
          body.with_row do |row|
            row.with_cell(text: version.item.ecf_id, html_attributes: { class: "nowrap" })
            row.with_cell(text: version.created_at.to_fs(:govuk_short), html_attributes: { class: "nowrap" })
            row.with_cell(text: version.object_changes.keys.excluding("updated_at").join(", "))
            row.with_cell(text: govuk_link_to("History", npq_separation_admin_applications_history_path(version.item.id)))
          end
        end
      end
    end
  %>
<% end %>
<%= govuk_pagination(pagy: @pagy) %>
