<%=
  render(
    'registration_wizard/shared/copy_page',
    form: @form,
    wizard: @wizard,
    ) do
%>
  <h1 class="govuk-heading-xl" >Funding eligibility</h1>

  <p class="govuk-body">
    You’re not eligible for the scholarship funding for the Early headship coaching offer (EHCO).
  </p>

  <p class="govuk-body">
    This means that you would need to pay for the EHCO another way.
  </p>

  <%= govuk_button_link_to "Continue", registration_wizard_show_path(@wizard.next_step_path) %>
<% end %>
