<h2 class="govuk-heading-l">We’d like your feedback</h2>

<p class="govuk-body">Tell us about your experience using the registration service by <%= external_link_to "completing a short feedback form", :feedback_form %>.</p>

<hr class="govuk-!-margin-top-8"/>
<% if Feature.registration_closed?(current_user) %>
  <div class="govuk-grid-row govuk-!-padding-top-7">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-0">

      <h2 class="govuk-heading-l">Registration has closed temporarily</h2>
      <p class="govuk-body">You can request email updates to tell you when registration opens.</p>

      <%=
        render GovukComponent::ContinueButtonComponent.new(
          text: "Request email updates",
          href: new_email_update_path,
          html_attributes: { params: { request_email_updates: "true" }}
        )
      %>

    </div>
  </div>
<% else %>
  <div class="govuk-!-padding-top-7">
    <h2 class="govuk-heading-l">Register for another NPQ</h2>

    <p class="govuk-body">Use this service to submit a new registration.</p>
    <% if Feature.trn_required? && current_user.trn.blank? %>
      <%= govuk_start_button(text: "Register for another NPQ", href: registration_wizard_show_path(:teacher_reference_number)) %>
    <% else %>
      <%= govuk_start_button(text: "Register for another NPQ", href: registration_wizard_show_path(:provider_check)) %>
    <% end %>
  </div>
<% end %>
