<h1 class="govuk-heading-xl">Register for a national professional qualification (NPQ)</h1>

<p class="govuk-body">Use this service to:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>check if you’re eligible for DfE scholarship funding</li>
  <li>register for an NPQ or <%= localise_sentence_embedded_course_name(Course.ehco) %></li>
</ul>

<p class="govuk-body">
  We'll send your registration to your chosen course provider. They'll contact you to complete their application form.
</p>

<%= govuk_inset_text do %>
  <h3 class="govuk-heading-s">Being eligible for funding does not guarantee a funded place</h3>
  Your training provider must confirm two things after you apply with them:
  <ul class="govuk-list govuk-list--bullet">
    <li>a funded place is available</li>
    <li>you meet their suitability requirements for the course</li>
  </ul>
<% end %>

<h2 class="govuk-heading-m">Before you start</h2>

<p class="govuk-body">
  To check your funding eligibility, you’ll need:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>the NPQ course you want to take and the provider you’ll use</li>
  <li>the address of your workplace</li>
  <li>an Ofsted URN (if working in early years or childcare)</li>
</ul>
