<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Admin</h1>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <%= govuk_link_to "Applications", admin_applications_path %>
      </li>

      <li>
        <%= govuk_link_to "Manual validation", admin_manual_validations_path %>
      </li>
    </ul>
  </div>
</div>
