<div class="x-govuk-masthead">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="x-govuk-masthead__title">
          Design your service using GOV.UK styles, components and patterns
        </h1>
        <p class="x-govuk-masthead__description">
          Use this design system to make your service consistent with GOV.UK. Learn from the research and experience of
          other service teams and avoid repeating work that’s already been done.
        </p>
        <a href="#" role="button" draggable="false" class="govuk-button govuk-button--inverse govuk-button--start" data-module="govuk-button">
          Get started
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="whats-new">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h2 class="govuk-heading-m">
          What's new
        </h2>

        <p class="govuk-body">
          9 November 2023: We're trialing new functionality in the API v3 sandbox which allows lead providers to add a
          participant’s schedule when accepting NPQ applications. We've added the optional schedule-identifier field on
          the NPQ accept an application request body. This will prevent providers having to make manual changes if a
          participant has been defaulted to the wrong schedule. We'd welcome feedback on this sandbox update before it
          goes into production.
        </p>

        <p class="govuk-body">
          <%= govuk_link_to("Read the full release notes for more details.", "#") %>
        </p>
        <p class="govuk-body">
          <%= govuk_link_to("Sign up to get update emails about the NPQs data management API for lead providers.", "#") %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-from-desktop govuk-!-padding-top-8">
      <div class="govuk-grid-column-one-third-from-desktop">
        <h2 class="govuk-heading-l govuk-!-font-weight-bold">What you can do in the API</h2>
        <p class="govuk-body">Guidance on how lead providers can integrate with this API so they can view, submit and
          update data. The data enables providers to manage and deliver NPQ-based training, and ensure they get paid the
          right amount by the DfE</p>
        <p class="govuk-body govuk-!-margin-bottom-0">
          <a href="#" class="govuk-link govuk-!-font-weight-bold">Browse guidance</a></p>
      </div>
      <div class="govuk-grid-column-one-third-from-desktop">
        <h2 class="govuk-heading-l">Definitions</h2>
        <p class="govuk-body">Take a look at the key concepts and data states we use</p>
        <p class="govuk-body govuk-!-margin-bottom-0">
          <a href="#" class="govuk-link govuk-!-font-weight-bold">Browse definitions</a></p>
      </div>
      <div class="govuk-grid-column-one-third-from-desktop">
        <h2 class="govuk-heading-l">API latest version</h2>
        <p class="govuk-body">Access the v3.0.0 of the NPQs data management API for lead providers</p>
        <p class="govuk-body">
          <a href="#" class="govuk-link govuk-!-font-weight-bold">Browse v.3.0.0 of the API</a></p>
      </div>
    </div>
  </div>
</div>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-from-desktop">
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <div class="govuk-grid-column-two-thirds ">
        <h2 class="govuk-heading-l">API previous versions </h2>
        <p class="govuk-body">
          <%= govuk_link_to("View API v1.0.0", "#") %>
        </p>
        <p class="govuk-body">
          <%= govuk_link_to("View API v2.0.0", "#") %>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-from-desktop">
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <div class="govuk-grid-column-two-thirds ">
        <h2 class="govuk-heading-l">Community</h2>
        <p class="govuk-body">
          We're always working to improve this API so it meets the needs of lead providers. You can help us by sharing
          your ideas with us on our dedicated Slack channel.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-from-desktop">
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <div class="govuk-grid-column-two-thirds ">
        <h2 class="govuk-heading-l">Support</h2>
        <p class="govuk-body">
          If you have any questions or suggestions, email us at continuing-professional-development@digital.education.gov.uk.
        </p>
        <p class="govuk-body">
          We'll try to get back to you within 2 working days.
        </p>
      </div>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
</div>