<nav class="x-govuk-sub-navigation" aria-labelledby="sub-navigation-heading">
  <h2 class="govuk-visually-hidden" id="sub-navigation-heading">Navigation</h2>
  <ul class="x-govuk-sub-navigation__section">
    <li class="x-govuk-sub-navigation__section-item x-govuk-sub-navigation__section-item--current">
      <a class="x-govuk-sub-navigation__link" href="/about" aria-current="true">Summary</a>
    </li>
    <li class="x-govuk-sub-navigation__section-item">
      <a class="x-govuk-sub-navigation__link" href="/contact">All time statistics</a>
      <ul class="x-govuk-sub-navigation__section x-govuk-sub-navigation__section--nested">
        <li class="x-govuk-sub-navigation__section-item">
          <a class="x-govuk-sub-navigation__link" href="/contact/email">Finance</a>
        </li>
        <li class="x-govuk-sub-navigation__section-item">
          <a class="x-govuk-sub-navigation__link" href="/contact/telephone">Calendar</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
