<h1 class="govuk-heading-l">Summary</h1>

<%= render NpqSeparation::ApplicationTallyComponent.new(@applications, :course) %>
<%= render NpqSeparation::ApplicationTallyComponent.new(@applications, :lead_provider, dimension_header: "Course provider") %>
