<%= tag.h2(class: "govuk-heading-m", id: question_id) do %>
  How do I get a TRN?
<% end %>

<p class="govuk-body">
  You need to apply to the Teaching Regulation Agency.
</p>

<p class="govuk-body">
  Email <%= govuk_mail_to("qts.enquiries@education.gov.uk") %> with (all of the following):
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>your full legal name</li>
  <li>your date of birth</li>
  <li>a scanned copy or photo of one proof of ID - this can be your passport, driving licence (full or provisional), certificate of residence or birth certificate</li>
  <li>“Request for a TRN” in the subject line of the email</li>
</ul>

<p class="govuk-body">
  They aim to respond to your email within 5 working days.
</p>
