---
openapi: 3.0.1
info:
  title: NPQ Registration API
  version: v2
externalDocs:
  description: Find out more about Swagger
  url: https://swagger.io/
paths:
  "/api/v2/npq-applications":
    get:
      summary: Retrieve multiple NPQ applications
      tags:
      - NPQ Applications
      security:
      - api_key: []
      parameters:
      - name: filter
        in: query
        required: false
        schema:
          "$ref": "#/components/schemas/ListApplicationsFilter"
      - name: page
        in: query
        required: false
        schema:
          "$ref": "#/components/schemas/PaginationFilter"
      responses:
        '200':
          description: A list of NPQ applications
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApplicationsResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorisedResponse"
  "/api/v2/npq-applications.csv":
    get:
      summary: Retrieve all NPQ applications in CSV format
      tags:
      - NPQ Applications
      security:
      - api_key: []
      parameters:
      - name: filter
        in: query
        required: false
        schema:
          "$ref": "#/components/schemas/ListApplicationsFilter"
      responses:
        '200':
          description: A CSV file of NPQ applications
          content:
            text/csv:
              schema:
                "$ref": "#/components/schemas/ApplicationsCsvResponse"
        '401':
          description: Unauthorized
          content:
            text/csv:
              schema:
                "$ref": "#/components/schemas/UnauthorisedResponse"
  "/api/v2/npq-applications/{id}":
    get:
      summary: Retrieve a single NPQ application
      tags:
      - NPQ Applications
      security:
      - api_key: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          "$ref": "#/components/schemas/IDAttribute"
      responses:
        '200':
          description: A single NPQ application
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApplicationResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorisedResponse"
        '404':
          description: Not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/NotFoundResponse"
  "/api/v2/npq-applications/{id}/accept":
    post:
      summary: Accept an NPQ application
      operationId: npq_applications_accept
      tags:
      - NPQ Applications
      security:
      - api_key: []
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the NPQ application to accept.
        schema:
          "$ref": "#/components/schemas/IDAttribute"
      responses:
        '200':
          description: The NPQ application being accepted
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApplicationResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorisedResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ApplicationAcceptRequest"
  "/api/v2/npq-applications/{id}/reject":
    post:
      summary: Reject an NPQ application
      operationId: npq_applications_reject
      tags:
      - NPQ Applications
      security:
      - api_key: []
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the NPQ application to reject.
        schema:
          "$ref": "#/components/schemas/IDAttribute"
      responses:
        '200':
          description: The NPQ application being rejected
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApplicationResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorisedResponse"
  "/api/v2/npq-applications/{id}/change-funded-place":
    put:
      summary: Change funded place value of an NPQ application
      operationId: npq_applications_change_funded_place
      tags:
      - NPQ Applications
      security:
      - api_key: []
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the NPQ application to change the funded place value.
        schema:
          "$ref": "#/components/schemas/IDAttribute"
      responses:
        '200':
          description: The NPQ application after changing the funded place
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApplicationResponse"
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/UnauthorisedResponse"
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ApplicationChangeFundedPlaceRequest"
  "/api/v2/npq-enrolments.csv":
    get:
      summary: Retrieve all NPQ enrolments in CSV format
      tags:
      - NPQ Enrolments
      security:
      - api_key: []
      parameters:
      - name: filter
        in: query
        required: false
        schema:
          "$ref": "#/components/schemas/ListEnrolmentsFilter"
      responses:
        '200':
          description: A CSV file of NPQ enrolments
          content:
            text/csv:
              schema:
                "$ref": "#/components/schemas/EnrolmentsCsvResponse"
        '401':
          description: Unauthorized
          content:
            text/csv:
              schema:
                "$ref": "#/components/schemas/UnauthorisedResponse"
servers:
- url: https://npq-registration-sandbox-web.teacherservices.cloud/
components:
  securitySchemes:
    api_key:
      description: Bearer token
      type: apiKey
      name: Authorization
      in: header
  schemas:
    PaginationFilter:
      description: Pagination options to navigate through the list of results.
      type: object
      properties:
        page:
          type: integer
          description: The page number to paginate to in the collection. If no value
            is specified it defaults to the first page.
          example: 3
        per_page:
          type: integer
          description: The number items to display on a page. Defaults to 100. Maximum
            is 3000, if the value is greater that the maximum allowed it will fallback
            to 3000.
          example: 10
    ListApplicationsFilter:
      description: Filter applications to return more specific results
      type: object
      properties:
        cohort:
          description: Return only NPQ applications from the specified cohort.
          type: string
          example: '2022'
        updated_since:
          description: Return only records that have been updated since this date
            and time (ISO 8601 date format).
          type: string
          example: '2021-05-13T11:21:55Z'
    ListEnrolmentsFilter:
      description: Filter enrolments to return more specific results
      type: object
      properties:
        updated_since:
          description: Return only records that have been updated since this date
            and time (ISO 8601 date format).
          type: string
          example: '2021-05-13T11:21:55Z'
    UnauthorisedResponse:
      description: Authorization information is missing or invalid.
      type: object
      properties:
        error:
          type: string
          example: 'HTTP Token: Access denied'
    NotFoundResponse:
      description: The requested resource was not found.
      type: object
      properties:
        error:
          type: string
          description: Resource not found
      example:
        error: Resource not found
    IDAttribute:
      description: The unique ID of the resource.
      type: string
      format: uuid
      example: d0b4a32e-a272-489e-b30a-cb17131457fc
    ApplicationResponse:
      description: A single NPQ application
      type: object
      required:
      - data
      properties:
        data:
          "$ref": "#/components/schemas/Application"
    ApplicationsResponse:
      description: A list of NPQ applications.
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/Application"
    Application:
      description: A single NPQ application
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          "$ref": "#/components/schemas/IDAttribute"
        type:
          description: The data type
          type: string
          example: npq_application
          enum:
          - npq_application
        attributes:
          properties:
            course_identifier:
              description: The NPQ course this NPQ application relates to
              type: string
              nullable: false
              example: npq-leading-teaching
              enum:
              - npq-leading-teaching
              - npq-leading-behaviour-culture
              - npq-leading-teaching-development
              - npq-leading-literacy
              - npq-senior-leadership
              - npq-headship
              - npq-executive-leadership
              - npq-early-years-leadership
              - npq-additional-support-offer
              - npq-early-headship-coaching-offer
              - npq-leading-primary-mathematics
              - npq-senco
            email:
              description: The email address registered for this NPQ participant
              type: string
              nullable: false
              example: isabelle.macdonald2@some-school.example.com
            email_validated:
              description: Indicates whether the email address has been validated
              type: boolean
              example: true
            employer_name:
              description: The name of current employer of the participant if not
                currently employed by school
              type: string
              nullable: true
              example: Some Company Ltd
            employment_role:
              description: Participant's current role in the company they are employed
                in if not currently employed by school
              type: string
              nullable: true
              example: Director
            full_name:
              description: The full name of this NPQ participant
              type: string
              nullable: false
              example: Isabelle MacDonald
            funding_choice:
              description: Indicates how this NPQ participant has said they will funded
                their training
              type: string
              nullable: true
              example: trust
              enum:
              - school
              - trust
              - self
              - another
              - employer
            headteacher_status:
              description: Indicates whether this NPQ participant is or will be a
                head teacher
              type: string
              example: 'no'
              enum:
              - 'no'
              - yes_when_course_starts
              - yes_in_first_two_years
              - yes_over_two_years
              - yes_in_first_five_years
              - yes_over_five_years
            ineligible_for_funding_reason:
              description: Indicates why this NPQ participant is not eligible for
                DfE funding
              type: string
              nullable: true
              example: establishment-ineligible
              enum:
              - establishment-ineligible
              - previously-funded
            participant_id:
              description: The unique identifier of this NPQ participant
              type: string
              example: 7a8fef46-3c43-42c0-b3d5-1ba5904ba562
              format: uuid
            private_childcare_provider_urn:
              description: The Unique Reference Number (URN) of the private child
                care provider
              type: string
              example: EY944860
              nullable: true
            teacher_reference_number:
              description: The Teacher Reference Number (TRN) for this NPQ participant
              type: string
              example: '1234567'
            teacher_reference_number_validated:
              description: Indicates whether the Teacher Reference Number (TRN) has
                been validated
              type: boolean
              nullable: false
              example: true
            school_urn:
              description: The Unique Reference Number (URN) of the school where this
                NPQ participant is employed
              type: string
              example: '106286'
            school_ukprn:
              description: The UK Provider Reference Number (UK Provider Reference
                Number) of the school where this NPQ participant is employed
              nullable: true
              type: string
              example: '10079319'
            status:
              description: The current state of the NPQ application
              type: string
              nullable: true
              example: pending
              enum:
              - pending
              - accepted
              - rejected
            works_in_school:
              description: Indicates whether the participant is currently employed
                by school
              type: boolean
              example: true
            created_at:
              description: The date the application was created
              type: string
              nullable: false
              format: date-time
              example: '2021-05-31T02:21:32.000Z'
            updated_at:
              description: The date the application was last updated
              type: string
              nullable: false
              format: date-time
              example: '2021-05-31T02:22:32.000Z'
            cohort:
              description: Indicates which call-off contract would fund this participant's
                training. 2021 indicates a participant that has started, or will start,
                their training in the 2021/22 academic year. Once a provider accepts
                an application, they may change a participant's cohort up until the
                point of submitting a started declaration.
              type: string
              nullable: true
              example: '2022'
            eligible_for_funding:
              description: Indicates whether this NPQ participant would be eligible
                for funding from the DfE
              type: boolean
              example: true
            targeted_delivery_funding_eligibility:
              description: Whether or not this application is eligible for Targeted
                Delivery Funding uplift
              nullable: false
              type: boolean
              example: true
            teacher_catchment:
              description: This field will indicate whether or not the participant
                is UK-based. <ul><li>If <code>true</code> then the registration relates
                to a participant who is UK-based.</li><li>If <code>false</code> then
                the registration relates to a participant who is not UK-based.</li></ul>
              nullable: true
              type: boolean
              example: true
            teacher_catchment_country:
              description: This field shows the text entered by the participant during
                their NPQ online registration.
              nullable: true
              type: string
              example: United Kingdom of Great Britain and Northern Ireland
            teacher_catchment_iso_country_code:
              description: |-
                This field identifies which non-UK country the participant has registered from.
                The API uses <a href="https://www.iso.org/iso-3166-country-codes.html" class="govuk-link" rel="noreferrer noopener" target="_blank">ISO 3166 alpha-3 codes</a>, three-letter codes published by the International Organization for Standardization (ISO) to represent countries, dependent territories, and special areas of geographical interest.
              nullable: true
              type: string
              example: GBR
            itt_provider:
              description: This field contains the legal name of the ITT accredited
                provider from the <a href="https://www.gov.uk/government/publications/accredited-initial-teacher-training-itt-providers/list-of-providers-accredited-to-deliver-itt-from-september-2024"
                class="govuk-link" rel="noreferrer noopener" target="_blank">list
                of providers</a>.
              nullable: true
              type: string
              example: University of Southampton
            lead_mentor:
              description: This field indicates whether the applicant is an ITT lead
                mentor.
              nullable: true
              type: boolean
              example: true
            funded_place:
              description: This field indicates whether the application is funded
              nullable: true
              type: boolean
              example: true
    ApplicationAcceptRequest:
      description: A NPQ application acceptance request
      type: object
      properties:
        data:
          description: A NPQ application acceptance request data
          type: object
          required:
          - type
          - attributes
          properties:
            type:
              description: The data typed
              type: string
              example: npq-application-accept
            attributes:
              description: A NPQ application acceptance request attributes
              type: object
              properties:
                funded_place:
                  description: This field indicates whether the application is funded
                  nullable: false
                  type: boolean
                  required: false
                  example: true
    ApplicationChangeFundedPlaceRequest:
      description: A NPQ application change funded place request
      type: object
      required:
      - data
      properties:
        data:
          description: A NPQ application change funded place request data
          type: object
          required:
          - type
          - attributes
          properties:
            type:
              description: The data typed
              type: string
              example: npq-application-change-funded-place
            attributes:
              description: A NPQ application change funded place request attributes
              type: object
              required:
              - funded_place
              properties:
                funded_place:
                  description: This field indicates whether the application is funded
                  nullable: false
                  type: boolean
                  required: true
                  example: true
    EnrolmentsCsvResponse:
      description: 'A list of NPQ enrolments in the Comma Separated Value (CSV) format  '
      properties:
        example:
          type: array
          items:
            "$ref": "#/components/schemas/EnrolmentCsv"
      example: |
        participant_id,course_identifier,schedule_identifier,cohort,npq_application_id,eligible_for_funding,training_status,school_urn,funded_place

            52a606ba-4e49-4dab-aa11-42e1e9274884,npq-senior-leadership,npq-ehco-june,2022,8e788f3c-4eac-4bb3-876d-b7b701fcdbd3,true,active,945562,true

            e6112b6f-e9c8-40ad-8e5a-3f74dc74d7fd,npq-leading-teaching,npq-leadership-autumn,2022,6feecd44-196a-4203-9fcd-207fb8ddc4eb,true,active,102561,true
    EnrolmentCsv:
      description: The details of an NPQ application
      type: object
      required:
      - participant_id
      - course_identifier
      - schedule_identifier
      - cohort
      - npq_application_id
      - eligible_for_funding
      - training_status
      - school_urn
      - funded_place
      properties:
        participant_id:
          description: The unique identifier of this NPQ participant
          type: string
          example: 7a8fef46-3c43-42c0-b3d5-1ba5904ba562
          format: uuid
        course_identifier:
          description: The NPQ course the participant is enrolled in
          type: string
          example: npq-leading-teaching
          enum:
          - npq-leading-teaching
          - npq-leading-behaviour-culture
          - npq-leading-teaching-development
          - npq-leading-literacy
          - npq-senior-leadership
          - npq-headship
          - npq-executive-leadership
          - npq-early-years-leadership
          - npq-additional-support-offer
          - npq-early-headship-coaching-offer
          - npq-leading-primary-mathematics
          - npq-senco
        schedule_identifier:
          description: The schedule currently applied to this enrolment
          nullable: true
          type: string
          example: npq-leadership-spring
          enum:
          - npq-aso-march
          - npq-aso-june
          - npq-aso-november
          - npq-aso-december
          - npq-ehco-march
          - npq-ehco-june
          - npq-ehco-november
          - npq-ehco-december
          - npq-leadership-autumn
          - npq-leadership-spring
          - npq-specialist-autumn
          - npq-specialist-spring
        cohort:
          description: The value indicates which call-off contract funds this participant’s
            training. 2021 indicates a participant that has started, or will start,
            their training in the 2021/22 academic year. Providers may change an NPQ
            participant’s cohort up until the point of submitting a started declaration.
          type: string
          nullable: true
          example: '2022'
        npq_application_id:
          description: The unique identifier of this NPQ application that was accepted
            to create this enrolment
          type: string
          example: 7a8fef46-3c43-42c0-b3d5-1ba5904ba562
          format: uuid
        eligible_for_funding:
          description: Indicates whether this NPQ participant would be eligible for
            funding from the DfE
          type: boolean
          example: true
        training_status:
          description: The training status of the ECF participant
          type: string
          example: active
          enum:
          - active
          - deferred
          - withdrawn
        school_urn:
          description: The Unique Reference Number (URN) of the school where this
            NPQ participant is teaching
          type: string
          example: '106286'
    ApplicationsCsvResponse:
      description: A list of NPQ applications in the Comma Separated Value (CSV) format
      properties:
        example:
          type: array
          items:
            "$ref": "#/components/schemas/ApplicationCsv"
      example: |
        id,participant_id,full_name,email,email_validated,teacher_reference_number,
        teacher_reference_number_validated,school_urn,school_ukprn,private_childcare_provider_urn,
        headteacher_status,eligible_for_funding,funding_choice,course_identifier,
        status,works_in_school,employer_name,employment_role,created_at,updated_at,
        cohort,ineligible_for_funding_reason,targeted_delivery_funding_eligibility,
        teacher_catchment,teacher_catchment_country,teacher_catchment_iso_country_code,itt_provider,lead_mentor
        db3a7848-7308-4879-942a-c4a70ced400a,7a8fef46-3c43-42c0-b3d5-1ba5904ba562,
        Isabelle MacDonald,isabelle.macdonald2@some-school.example.com,true,1234567,
        false,100015,10005549,,no,false,trust,npq-early-headship-coaching-offer,
        accepted,true,,,2024-04-23T15:52:03Z,2024-04-23T15:52:03Z,2021,
        establishment-ineligible,false,true,United Kingdom of Great Britain and Northern Ireland
        ,GBR,Test ITT Provider,false
    ApplicationCsv:
      description: The details of an NPQ application
      type: object
      required:
      - id
      - participant_id
      - full_name
      - email
      - email_validated
      - teacher_reference_number
      - teacher_reference_number_validated
      - school_urn
      - headteacher_status
      - eligible_for_funding
      - funding_choice
      - course_identifier
      - created_at
      - updated_at
      properties:
        id:
          "$ref": "#/components/schemas/IDAttribute"
        participant_id:
          description: The unique identifier of this NPQ participant
          type: string
          example: 7a8fef46-3c43-42c0-b3d5-1ba5904ba562
          format: uuid
        full_name:
          description: The full name of this NPQ participant
          type: string
          example: Isabelle MacDonald
        email:
          description: The email address registered for this NPQ participant
          type: string
          example: isabelle.macdonald2@some-school.example.com
        email_validated:
          description: Indicates whether the email address has been validated
          type: boolean
          example: true
        teacher_reference_number:
          description: The Teacher Reference Number (TRN) for this NPQ participant
          type: string
          example: '1234567'
        teacher_reference_number_validated:
          description: Indicates whether the Teacher Reference Number (TRN) has been
            validated
          type: boolean
          example: true
        school_urn:
          description: The Unique Reference Number (URN) of the school where this
            NPQ participant is employed
          type: string
          example: '106286'
        school_ukprn:
          description: The UK Provider Reference Number (UK Provider Reference Number)
            of the school where this NPQ participant is employed
          nullable: true
          type: string
          example: '10079319'
        private_childcare_provider_urn:
          description: The Unique Reference Number (URN) of the private child care
            provider
          type: string
          example: EY944860
          nullable: true
        headteacher_status:
          description: Indicates whether this NPQ participant is or will be a head
            teacher
          type: string
          example: 'no'
          enum:
          - 'no'
          - yes_when_course_starts
          - yes_in_first_two_years
          - yes_over_two_years
          - yes_in_first_five_years
          - yes_over_five_years
        eligible_for_funding:
          description: Indicates whether this NPQ participant would be eligible for
            funding from the DfE
          type: boolean
          example: true
        funding_choice:
          description: Indicates how this NPQ participant has said they will funded
            their training
          type: string
          nullable: true
          example: trust
          enum:
          - school
          - trust
          - self
          - another
          - employer
        course_identifier:
          description: The NPQ course this NPQ application relates to
          type: string
          example: npq-leading-teaching
          enum:
          - npq-leading-teaching
          - npq-leading-behaviour-culture
          - npq-leading-teaching-development
          - npq-leading-literacy
          - npq-senior-leadership
          - npq-headship
          - npq-executive-leadership
          - npq-early-years-leadership
          - npq-additional-support-offer
          - npq-early-headship-coaching-offer
          - npq-leading-primary-mathematics
          - npq-senco
        status:
          description: The current state of the NPQ application
          type: string
          nullable: true
          example: pending
          enum:
          - pending
          - accepted
          - rejected
        works_in_school:
          description: Indicates whether the participant is currently employed by
            school
          type: boolean
          example: true
        employer_name:
          description: The name of current employer of the participant if not currently
            employed by school
          type: string
          nullable: true
          example: Some Company Ltd
        employment_role:
          description: Participant's current role in the company they are employed
            in if not currently employed by school
          type: string
          nullable: true
          example: Director
        created_at:
          description: The date the application was created
          type: string
          format: date-time
          example: '2021-05-31T02:21:32.000Z'
        updated_at:
          description: The date the application was last updated
          type: string
          format: date-time
          example: '2021-05-31T02:22:32.000Z'
        cohort:
          description: Indicates which call-off contract would fund this participant's
            training. 2021 indicates a participant that has started, or will start,
            their training in the 2021/22 academic year. Once a provider accepts an
            application, they may change a participant's cohort up until the point
            of submitting a started declaration.
          type: string
          nullable: true
          example: '2022'
        ineligible_for_funding_reason:
          description: Indicates why this NPQ participant is not eligible for DfE
            funding
          type: string
          nullable: true
          example: establishment-ineligible
          enum:
          - establishment-ineligible
          - previously-funded
        targeted_delivery_funding_eligibility:
          description: Whether or not this application is eligible for Targeted Delivery
            Funding uplift
          nullable: false
          type: boolean
          example: true
        teacher_catchment:
          description: This field will indicate whether or not the participant is
            UK-based. <ul><li>If <code>true</code> then the registration relates to
            a participant who is UK-based.</li><li>If <code>false</code> then the
            registration relates to a participant who is not UK-based.</li></ul>
          nullable: true
          type: boolean
          example: true
        teacher_catchment_country:
          description: This field shows the text entered by the participant during
            their NPQ online registration.
          nullable: true
          type: string
          example: France
        teacher_catchment_iso_country_code:
          description: |-
            This field identifies which non-UK country the participant has registered from.
            The API uses <a href="https://www.iso.org/iso-3166-country-codes.html" class="govuk-link" rel="noreferrer noopener" target="_blank">ISO 3166 alpha-3 codes</a>, three-letter codes published by the International Organization for Standardization (ISO) to represent countries, dependent territories, and special areas of geographical interest.
          nullable: true
          type: string
          example: FRA
        itt_provider:
          description: This field contains the legal name of the ITT accredited provider
            from the <a href="https://www.gov.uk/government/publications/accredited-initial-teacher-training-itt-providers/list-of-providers-accredited-to-deliver-itt-from-september-2024"
            class="govuk-link" rel="noreferrer noopener" target="_blank">list of providers</a>.
          nullable: true
          type: string
          example: University of Southampton
        lead_mentor:
          description: This field indicates whether the applicant is an ITT lead mentor.
          nullable: true
          type: boolean
          example: true
    ParticipantResponse:
      description: A single NPQ participant
      type: object
      required:
      - data
      properties:
        data:
          "$ref": "#/components/schemas/Participant"
    ParticipantsResponse:
      description: A list of NPQ participants.
      type: object
      required:
      - data
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/Participant"
    Participant:
      description: The details of an NPQ Participant
      type: object
      required:
      - id
      - type
      - attributes
      properties:
        id:
          "$ref": "#/components/schemas/IDAttribute"
        type:
          description: The data type
          type: string
          example: npq-participant
          enum:
          - npq-participant
        attributes:
          properties:
            email:
              description: The email address registered for this NPQ participant
              type: string
              nullable: false
              example: isabelle.macdonald2@some-school.example.com
            full_name:
              description: The full name of this NPQ participant
              type: string
              nullable: false
              example: Isabelle MacDonald
            teacher_reference_number:
              description: The Teacher Reference Number (TRN) for this NPQ participant
              type: string
              example: '1234567'
            updated_at:
              description: The date the application was last updated
              type: string
              nullable: false
              format: date-time
              example: '2021-05-31T02:22:32.000Z'
            npq_enrolments:
              description: Information about the course(s) the participant is enroled
                in
              type: array
              items:
                description: The details of an NPQ Participant enrolment
                type: object
                required:
                - course_identifier
                - npq_application_id
                - eligible_for_funding
                - training_status
                - targeted_delivery_funding_eligibility
                properties:
                  course_identifier:
                    description: The NPQ course this NPQ application relates to
                    type: string
                    nullable: false
                    example: npq-leading-teaching
                    enum:
                    - npq-leading-teaching
                    - npq-leading-behaviour-culture
                    - npq-leading-teaching-development
                    - npq-leading-literacy
                    - npq-senior-leadership
                    - npq-headship
                    - npq-executive-leadership
                    - npq-early-years-leadership
                    - npq-additional-support-offer
                    - npq-early-headship-coaching-offer
                    - npq-leading-primary-mathematics
                    - npq-senco
                  schedule_identifier:
                    description: The new schedule of the participant
                    nullable: true
                    type: string
                    example: npq-leadership-spring
                    enum:
                    - npq-aso-march
                    - npq-aso-june
                    - npq-aso-november
                    - npq-aso-december
                    - npq-ehco-march
                    - npq-ehco-june
                    - npq-ehco-november
                    - npq-ehco-december
                    - npq-leadership-autumn
                    - npq-leadership-spring
                    - npq-specialist-autumn
                    - npq-specialist-spring
                  cohort:
                    description: Indicates which call-off contract would fund this
                      participant's training. 2021 indicates a participant that has
                      started, or will start, their training in the 2021/22 academic
                      year. Once a provider accepts an application, they may change
                      a participant's cohort up until the point of submitting a started
                      declaration.
                    type: string
                    nullable: true
                    example: '2022'
                  eligible_for_funding:
                    description: Indicates whether this NPQ participant would be eligible
                      for funding from the DfE
                    type: boolean
                    nullable: false
                    example: true
                  npq_application_id:
                    description: The ID of the NPQ application that was accepted to
                      create this enrolment
                    type: string
                    format: uuid
                    nullable: false
                    example: db3a7848-7308-4879-942a-c4a70ced400a
                  training_status:
                    description: The training status of the NPQ participant
                    type: string
                    enum:
                    - active
                    - deferred
                    - withdrawn
                    example: active
                  school_urn:
                    description: The Unique Reference Number (URN) of the school where
                      this NPQ participant is employed
                    type: string
                    nullable: true
                    example: '106286'
                  targeted_delivery_funding_eligibility:
                    description: Whether or not this application is eligible for Targeted
                      Delivery Funding uplift
                    nullable: false
                    type: boolean
                    example: true
                  funded_place:
                    description: Indicates whether this NPQ participant is funded
                      by DfE
                    nullable: true
                    type: boolean
                    example: true
