<% if request.path =~ /reviews/ %>
  <%= render "npq_separation/admin/applications/reviews/application_side_navigation" %>
<% else %>
  <%= render "npq_separation/admin/applications/application_side_navigation" %>
<% end %>

<h1 class="govuk-heading-l">Application history</h1>

<%= render NpqSeparation::Admin::HistoryComponent.new(record: @application) %>
