<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Scholarship funding
  </dt>
  <dd class="govuk-summary-list__value">
    <% if application.eligible_for_funding %>
      <%= render "eligible_for_funding_details", application: %>
    <% elsif scholarship_eligibility_in_review?(application) %>
      <%= render "in_review_funding_details", application: %>
    <% else %>
      <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0"><%= scholarship_funding_eligibility(application) %></p>
      <p class="govuk-!-margin-top-2 govuk-!-margin-bottom-0"><%= I18n.t("funding_details.ineligible_message") %></p>
    <% end %>
  </dd>
</div>
