<% content_for :title do %>
  <%= @form.errors.present? ? "Error: " : nil %> Funding eligibility
<% end %>

<h1 class="govuk-heading-xl">Funding eligibility</h1>

<p class="govuk-body">You’ve already been allocated scholarship funding for <%= localise_sentence_embedded_course_name(course) %>.</p>

<p class="govuk-body">If you need to change something about your NPQ or provider, email continuing-professional-development@digital.education.gov.uk.</p>

<% if Flipper.enabled?(:targeted_support_funding) %>
  <p class="govuk-body">Your workplace is eligible for targeted support funding.</p>

  <p class="govuk-body">They’ll receive £<%= funding_amount %> to support you to do this NPQ.</p>
<% end %>

<h2 class="govuk-heading-m">You would need to pay for the course if you’re taking it again</h2>

<p class="govuk-body">Continue to register if you’re taking the course again.</p>

<p class="govuk-body">You would need to pay for <%= localise_sentence_embedded_course_name(course) %> if you were previously funded but you failed or withdrew from the course.</p>
