<% content_for :title do %>
  Additional Support Offer for new headteachers
<% end %>

<% content_for :before_content do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "Back",
    href: registration_wizard_show_path(@wizard.previous_step_path)
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl" >Additional Support Offer for new headteachers</h1>

    <p class="govuk-body">The Additional Support Offer is a targeted support package for new headteachers.</p>

    <h2 class="govuk-heading-m">Who is this for?</h2>

    <p class="govuk-body">You can register for the Additonal Support Offer if you:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>have completed an NPQH</li>
      <li>are studying for an NPQH</li>
      <li>are about to start an NPQH</li>
    </ul>

    <h2 class="govuk-heading-m">How is this paid for?</h2>

    <p class="govuk-body">You may be eligible for DfE scholarship funding if you are a headteacher in your first 2 years of headship.</p>

    <p class="govuk-body">Or you can pay the cost of your Additional Support Offer another way.</p>

    <p class="govuk-body"><%= govuk_link_to "Read more about the Additional Support Offer for new headteachers", "https://www.gov.uk/government/publications/national-professional-qualifications-npqs-reforms/national-professional-qualifications-npqs-reforms#additional-support-offer-for-the-npq-in-headship" %></p>

    <%= govuk_button_link_to "Continue", registration_wizard_show_path(@wizard.next_step_path) %>
  </div>
</div>
