<% content_for :title do %>
  Choosing an NPQ and Provider
<% end %>

<% content_for :before_content do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "Back",
    href: registration_wizard_show_path(@wizard.previous_step_path)
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl" >Choosing an NPQ and Provider</h1>

    <h2 class="govuk-heading-m">Available courses</h2>

    <p class="govuk-body">From September 2022, the following NPQ courses will be available:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>NPQ Senior Leadership</li>
      <li>NPQ Executive Leadership</li>
      <li>NPQ Headship</li>
      <li>NPQ Leading Teaching Development</li>
      <li>NPQ Leading Teaching</li>
      <li>NPQ Leading Behaviour and Culture</li>
      <li>NPQ Early Years Leadership</li>
      <li>NPQ Leading Literacy</li>
    </ul>

    <h2 class="govuk-heading-m">Early Headship Coaching Offer</h2>

    <p class="govuk-body">The early headship coaching offer is a package of structured face-to-face support for teachers new to the role of headship.</p>

    <p class="govuk-body">It is for new headteachers in their first 5 years of a headship role who have either completed an NPQH or are currently taking an NPQH.</p>

    <h2 class="govuk-heading-m">Providers</h2>

    <p class="govuk-body">There are ten training providers across England which run NPQ training courses.</p>
    <p class="govuk-body">They are:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="https://www.ambition.org.uk/blog/how-new-npqs-will-make-professional-development-work-your-school/">Ambition Institute</a></li>
      <li><a class="govuk-link" href="https://www.outstandingleaders.org/npq">Best Practice Network (home of Outstanding Leaders Partnership)</a></li>
      <li><a class="govuk-link" href="https://www.cefel.org.uk/npq/">Church of England</a></li>
      <li><a class="govuk-link" href="https://www.educationdevelopmenttrust.com/npqs">Education Development Trust</a></li>
      <li><a class="govuk-link" href="http://www.llse.org.uk/">LLSE</a></li>
      <li><a class="govuk-link" href="https://www.school-led.org.uk/">School-Led Network</a></li>
      <li><a class="govuk-link" href="https://tdtrust.org/npqs/">Teacher Development Trust</a></li>
      <li><a class="govuk-link" href="http://www.teachfirst.org.uk/npqs">Teach First</a></li>
      <li><a class="govuk-link" href="https://www.ucl.ac.uk/ioe/departments-and-centres/centres/ucl-centre-educational-leadership/national-professional-qualification-programmes">UCL Institute of Education   </a></li>
    </ul>

    <p class="govuk-body">Some providers may have specific criteria depending on your circumstances.</p>

    <p class="govuk-body">Check with your current employer to see if they recommended accredited partners for NPQ training.</p>
  </div>
</div>
