<%=
  render(
    'registration_wizard/shared/copy_page',
    form: @form,
    wizard: @wizard,
    ) do
%>
  <h1 class="govuk-heading-xl">You cannot register for the Early headship coaching offer</h1>

  <p class="govuk-body">To be eligible for the Early headship coaching offer you need to do the Headship NPQ.</p>

  <p class="govuk-body">Go back if you want to <%= govuk_link_to("register for the Headship NPQ", registration_wizard_show_path(:choose_your_npq)) %>.</p>
<% end %>
