<%=
  render(
    'registration_wizard/shared/copy_page',
    form: @form,
    wizard: @wizard,
    ) do
%>
  <h1 class="govuk-heading-xl">If your provider accepts your application, you’ll qualify for DfE scholarship funding</h1>

  <p class="govuk-body">
    From the information you have provided, DfE scholarship funding should be available for <%= localise_sentence_embedded_course_name(Course.ehco.first) %>.
  </p>

  <p class="govuk-body">
    Your training provider will give you more details and confirm if you qualify for funding.
  </p>

  <%= govuk_button_link_to "Continue", registration_wizard_show_path(@wizard.next_step_path) %>
<% end %>
