<%=
  render(
    'registration_wizard/shared/copy_page',
    form: @form,
    wizard: @wizard,
    ) do
%>
  <h1 class="govuk-heading-xl">You cannot register yet</h1>

  <p class="govuk-body">The next start date after February 2024 is October 2024.</p>

  <p class="govuk-body">Registrations for courses starting in October usually open around June.</p>

  <p class="govuk-body">You'll receive an email when registrations open.</p>
<% end %>
