<%=
  render(
    'registration_wizard/shared/copy_page',
    form: @form,
    wizard: @wizard,
    ) do
%>
  <h1 class="govuk-heading-xl">Change your details on the Teaching Regulation Agency records</h1>

  <p class="govuk-body">To update your name on the Teaching Regulation Agency records you will need to login to the <%= govuk_link_to "Teacher Self Service Portal", "https://teacherservices.education.gov.uk/SelfService/Login" %> - it can take a minimum of 5 days to update your details.</p>

  <p class="govuk-body">You will need to upload one of the following documents as evidence of your name change:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>marriage: copy of your marriage certificate</li>
    <li>civil partnership: copy of your civil agreement certificate</li>
    <li>divorce: copy of your decree absolute and your birth certificate</li>
    <li>statutory declaration: copy of the statutory declaration</li>
    <li>deed poll: copy of your deed poll. Once you have clicked submit, you will be taken to the Change of Details request page.</li>
  </ul>

  <%= govuk_inset_text(text: "You can still #{govuk_link_to('continue to register', registration_wizard_show_path(step: "qualified-teacher-check"))} for your NPQ with your previous name - this can be changed on the Teaching Regulation Agency records after registration.".html_safe) %>
<% end %>
