<% content_for :title do %>
  <%= t("helpers.title.registration_wizard.#{@wizard.current_step}") %>
<% end %>

<% content_for :before_content do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "Back",
    href: account_path
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Change your course or provider</h1>

    <p class="govuk-body">If you have not started your course, you can change your course or provider by submitting a new registration.</p>

    <p class="govuk-body">If you have already started your course, contact your provider to make any changes.</p>

    <% if Feature.trn_required? && current_user.trn.blank? %>
        <%= govuk_start_button(text: "Register for another NPQ", href: registration_wizard_show_path(:teacher_reference_number)) %>
    <% else %>
        <%= govuk_start_button(text: "Register for another NPQ", href: registration_wizard_show_path(:provider_check)) %>
    <% end %>
  </div>
</div>
  
