<%=
  render(
    'registration_wizard/shared/copy_page',
    form: @form,
    wizard: @wizard,
    ) do
%>
  <h1 class="govuk-heading-xl">Check your answers and confirm</h1>

  <%= render GovukComponent::SummaryListComponent.new do |component|
        @wizard.answers.each do |answer|
          component.with_row do |row|
            row.with_key { answer.key }
            row.with_value { answer.value }
            row.with_action(
              text: 'Change',
              visually_hidden_text: answer.key,
              href: "/registration/#{answer.change_step.to_s.dasherize}/change",
            )
          end
        end
  end %>

  <%= form_with model: @form, url: registration_wizard_form_url(@form), scope: 'registration_wizard', method: :patch do |f| %>
    <%= f.govuk_submit "Submit" %>
  <% end %>
<% end %>
