<%=
  render(
    'registration_wizard/shared/copy_page',
    form: @form,
    wizard: @wizard,
    ) do
%>
  <h1 class="govuk-heading-l">Check your answers</h1>

  <%= render GovukComponent::SummaryListComponent.new do |component|
        @wizard.answers.each do |answer|
          component.with_row do |row|
            row.with_key { answer.key }
            row.with_value do
              if answer.tag_colour
                govuk_tag(text: answer.value, colour: answer.tag_colour)
              else
                answer.value
              end
            end
            row.with_action(
              text: answer.action_text,
              visually_hidden_text: answer.key,
              href: answer.action_href,
            )
          end
        end
  end %>

  <% if current_user %>
    <h2 class="govuk-heading-m">Submit your registration</h2>
    <p class="govuk-body">By submitting your registration to the DfE, you're confirming that all the information you entered is correct.</p>
  <% else %>
    <h2 class="govuk-heading-m">Continue to register</h2>
    <p class="govuk-body">You can still check or change your answers later.</p>
  <% end %>

  <%=
    form_with model: @form, url: registration_wizard_form_url(@form), scope: 'registration_wizard', method: :patch do |f|
      button_text = current_user ? "Submit" : "Continue"
      f.govuk_submit button_text
    end
  %>
<% end %>
