<%=
  render(
    'registration_wizard/shared/copy_page',
    form: @form,
    wizard: @wizard,
    ) do
%>
  <h1 class="govuk-heading-xl">Nursery must be in England, Guernsey, Jersey or the Isle of Man</h1>

  <p class="govuk-body">The nursery you have selected is not in England, Guernsey, Jersey or the Isle of Man.</p>

  <p class="govuk-body">This NPQ application can only be completed by people working in these locations.</p>

  <p class="govuk-body">If you work in a nursery outside these locations and you want to study for an NPQ, check with your training provider or nursery’s training contact.</p>
<% end %>
