<h1 class="govuk-heading-xl"><%= t("helpers.title.registration_wizard.choose_your_npq") %></h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body govuk-!-margin-bottom-7">
      <%= t("helpers.hint.registration_wizard.choose_your_npq_html") %>
    </p>
  </div>
</div>

<%=
  render(
    'registration_wizard/shared/question_page',
    form: @form,
    wizard: @wizard,
  )
%>
