<%=
  render(
    'registration_wizard/shared/questions_page',
    form: @form,
    wizard: @wizard,
  )
%>

<%= govuk_details(summary_text: "My URN is not listed") do %>
  <p>
    If you or your employer have an Ofsted URN but it is not listed, we will need to manually review your eligibility.
    <%= mail_to "continuing-professional-development@digital.education.gov.uk", "Contact us", target: "_blank" %>
    for support.
  </p>
<% end %>