<h1 class="govuk-heading-xl"><%= t("helpers.title.registration_wizard.course_identifier") %></h1>

<p style="margin-bottom: 40px" class="govuk-body">To register for an NPQ and the <a href="https://professional-development-for-teachers-leaders.education.gov.uk/early-headship-coaching-offer" class="govuk-link">early headship coaching offer</a>, submit 2 separate registrations.</p>

<%=
  render(
    'registration_wizard/shared/question_page',
    form: @form,
    wizard: @wizard,
  )
%>
