<h1 class="govuk-heading-xl"><%= t("helpers.title.registration_wizard.course_id") %></h1>

<%= govuk_details(summary_text: "To register for both the headship NPQ and the early headship coaching offer you need to submit 2 separate registrations.") do %>
          <p class="govuk-body">
            If you’re applying to start an NPQ for Headship (NPQH), you might also be applying for the Early Headship Coaching Offer, a package of structured face-to-face support for new headteachers.
          </p>

          <p class="govuk-body">
            To register for both you should:
          </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>complete your registration for an NPQH using this service</li>
            <li>complete a separate registration for the Early Headship Coaching Offer, also using this service</li>
          </ul>
        <% end %>

<%=
  render(
    'registration_wizard/shared/question_page',
    form: @form,
    wizard: @wizard,
  )
%>
