<h1 class="govuk-heading-xl"><%= t("helpers.title.registration_wizard.choose_your_npq") %></h1>

<p class="govuk-body">To register for an NPQ and the <a href="https://professional-development-for-teachers-leaders.education.gov.uk/early-headship-coaching-offer" class="govuk-link">early headship coaching offer</a>, submit 2 separate registrations.</p>

<h1 class="govuk-fieldset__legend govuk-fieldset__legend--m">Which NPQ do you want to do?</h1>

<%=
  render(
    'registration_wizard/shared/question_page',
    form: @form,
    wizard: @wizard,
  )
%>
