<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Registration has closed temporarily</h1>

    <p class="govuk-body">
      Registration for NPQs and the early headship coaching offer has now closed.
    </p>

    <p class="govuk-body">
      You can request email updates to tell you when registration opens.
    </p>

    <%=
      render GovukComponent::ContinueButtonComponent.new(
        text: "Request email updates",
        href: user_tra_openid_connect_omniauth_authorize_path(request_email_updates: "true"),
        as_button: true
      )
    %>
  </div>
</div>
