<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Register for a National Professional Qualification (NPQ)</h1>

    <h2 class="govuk-heading-m">Registration for NPQs has closed temporarily</h2>

    <p class="govuk-body"><%= govuk_link_to "Sign up for an email", registration_interest_sign_up_path %> to be notified when registration reopens.</p>

    <h2 class="govuk-heading-m">When registration reopens</h2>

    <p class="govuk-body">You will be able to use this service to register:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>to study for an NPQ</li>
      <li>for the Additional Support Offer for new headteachers</li>
    </ul>

    <p class="govuk-body">For more information you can read guidance on the <%= govuk_link_to "NPQ reforms.", "https://www.gov.uk/government/publications/national-professional-qualifications-npqs-reforms/national-professional-qualifications-npqs-reforms" %></p>
  </div>
</div>
