<%= render GovukComponent::Panel.new(title: "Confirm email", body: "") %>

<p class="govuk-body">
  We've sent an email to ???
</p>

<p class="govuk-body">
  Check your inbox and click the link in the email we've sent you to confirm your email address and continue the process
</p>
