<% content_for :title do %>
  Your initial registration is complete
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render NpqPanel.new(
      title: {
        text: "Your initial registration is complete"
      },
      body: {
        text: "You’ve registered for an <strong>#{localise_course_name(@form.course)}</strong> with <strong>#{@form.lead_provider.name}</strong>".html_safe,
        classes: ["govuk-!-font-size-19"]
      }
    ) %>

    <h2 class="govuk-heading-m">Apply through your provider</h2>

    <p class="govuk-body">You still need to apply for your NPQ through <%= @form.lead_provider.name %>.</p>

    <p class="govuk-body">They’ll contact you to outline the next steps, including how to apply.</p>

    <% if @form.display_npqh_information?  %>
      <h2 class="govuk-heading-m">Early headship coaching offer</h2>

      <p class="govuk-body">The Early headship coaching offer is a package of structured face-to-face support for new headteachers.</p>

      <p class="govuk-body">You may be eligible for DfE scholarship funding if you are in the first 5 years of a headship and:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>have completed an NPQH</li>
        <li>are studying for an NPQH</li>
        <li>are about to start an NPOH</li>
      </ul>

      <p class="govuk-body">If eligible, your training provider will share further details with you.</p>

      <p class="govuk-body">
        <%= govuk_link_to "Read more about the Early headship coaching offer", @form.ehco_more_information_url %>
      </p>
    <% end %>

    <div class="govuk-inset-text">
      <%= govuk_link_to "Tell us about your experience", "https://docs.google.com/forms/d/e/1FAIpQLScAD7XvFlHl8LzfSyxstYErWMiFPXGamrA_qBhBJTGXuP9efw/viewform?usp=sf_link", target: "_blank", rel: "noreferrer noopener" %> of registering for an NPQ. Your views help us improve this service.
    </div>
  </div>
</div>
