<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t("helpers.title.registration_wizard.course_start_date") %></h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body govuk-!-margin-bottom-4">
      <%= t("helpers.hint.registration_wizard.course_start_date_one") %>
    </p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body govuk-!-margin-bottom-4">
      <%= t("helpers.hint.registration_wizard.course_start_date_two") %>
    </p>
  </div>
</div>

<%=
  render(
    'registration_wizard/shared/questions_page',
    form: @form,
    wizard: @wizard,
  )
%>
