<% content_for :title do %>
  Get a Teacher Reference Number (TRN)
<% end %>

<% content_for :before_content do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "Back",
    href: registration_wizard_show_path(@wizard.previous_step_path)
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Get a Teacher Reference Number (TRN)</h1>

    <h2 class="govuk-heading-m">Request a TRN by email</h2>

    <p class="govuk-body">
      If you have never been given a TRN, then email the Teaching Regulation Agency at <%= govuk_mail_to "qts.enquiries@education.gov.uk", "qts.enquiries@education.gov.uk" %>. The team aim to respond to valid email requests within 5 working days
    </p>

    <p class="govuk-body">
      You will need to provide contact details and proof of I.D. to receive a TRN.
    </p>

    <p class="govuk-body">
      Use the free Galaxkey secure email platform to ensure your identification documents are protected.
    </p>

    <h2 class="govuk-heading-m">Send a secure email</h2>

    <p class="govuk-body">
      To send a secure email to the department, please go to the Galaxkey site: <%= govuk_link_to "https://manager.galaxkey.com/services/registerme", "https://manager.galaxkey.com/services/registerme" %>
    </p>

    <p class="govuk-body">
      Enter the email address that you wish to sign up with and complete the registration process.
    </p>

    <p class="govuk-body">
      You will be sent an email to activate your account once you have completed this step. You can then send secure emails to the Teaching Regulation Agency using Galaxkey.
    </p>

    <h2 class="govuk-heading-m">Secure emails - a quick start guide</h2>

    <p class="govuk-body">
      The steps you need to take are outlined in the following quick start guide below:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>select ‘Compose’ to start a secure email</li>
      <li>enter <strong>qts.enquiries@education.gov.uk</strong> as the recipient</li>
      <li>input the ‘Subject’ of the email as: Undertaking an NPQ, do not have a TRN and require a number to be issued</li>
      <li>
        include the following information in your email:

        <ul class="govuk-list govuk-list--bullet">
          <li>state you are undertaking an NPQ, do not have a TRN and require a number to be issued</li>
          <li>your full legal name (we will use this to create a record for you)</li>
          <li>your date of birth</li>
          <li>an email address for us to respond to you at</li>
          <li>
            attach a copy of one of the following types of identification as a file to accompany your submission. Note the restrictions on file size in the provided guidance:
            <ul class="govuk-list govuk-list--bullet">
              <li>passport</li>
              <li>driving license (full or provisional)</li>
              <li>certificate of residence</li>
              <li>birth certificate</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    <p class="govuk-body">
      The Teaching Regulation Agency will use the information you provide to create a permanent record for you and allocate you a TRN.
    </p>

    <p class="govuk-body">
      Any copies of personal identification documents you provide will be destroyed once your request is processed.
    </p>

    <p class="govuk-body">
      Information about the Teaching Regulation Agency processes your data is available at the <%= govuk_link_to "teacher self-service site", "https://www.gov.uk/guidance/teacher-self-service-portal" %>.
    </p>
  </div>
</div>
