<%=
  render(
    'registration_wizard/shared/copy_page',
    form: @form,
    wizard: @wizard,
    ) do
%>
  <h1 class="govuk-heading-xl">Request a teacher reference number before registering for an NPQ</h1>

  <p class="govuk-body">You need a teacher reference number (TRN) to register for an NPQ, even if you’re not a teacher.</p>

  <p class="govuk-body"><%= govuk_link_to("Learn about TRNs", "https://www.gov.uk/guidance/teacher-reference-number-trn")%> including how to request one.</p>
<% end %>
