<% content_for :before_content do %>
  <%= render GovukComponent::BackLink.new(
    text: "Back",
    href: registration_wizard_show_path(@wizard.previous_step_path)
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Teacher reference number</h1>

    <p class="govuk-body">If you don’t know what your teacher reference number (TRN) is, this can usually be found on your payslip, Teachers’ Pensions documentation or teacher training records.</p>

    <p class="govuk-body">The TRN is typically seven digits long, but previously has been known as a QTS, GTC, DfE, DfES or DCSF number and therefore may include the letters RP and the forward slash symbol ‘/’. For example: 4567814 or 95/78674</p>

    <p class="govuk-body">If you cannot find your TRN, you can request a reminder.</p>

    <h2 class="govuk-heading-m">Request a TRN reminder by email</h2>

    <p class="govuk-body">Send an email to <%= govuk_mail_to('qts.enquiries@education.gov.uk', "qts.enquiries@education.gov.uk", subject: "Undertaking an NPQ and require TRN clarification") %>. Please also include in the email your:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>full name</li>
      <li>date of birth</li>
      <li>National Insurance number</li>
      <li>the establishment where you undertook your initial teacher training</li>
    </ul>

    <p class="govuk-body">The team aim to respond within 5 working days.</p>

    <h2 class="govuk-heading-m">Request a TRN reminder by phone</h2>

    <p class="govuk-body">
      Call the Teaching Regulation Agency on 020 7593 5394. Make sure you have your National Insurance number ready before you call. Phone lines are open 9 AM – 5PM Monday – Thursday and 9AM – 4:30 PM on Friday. Lines are closed on bank holidays.  Please state that you are undertaking a National Professional Qualification and require a clarification of your TRN.
    </p>
  </div>
</div>
