<%=
  render(
    'registration_wizard/shared/copy_page',
    form: @form,
    wizard: @wizard,
    ) do
%>

  <h1 class="govuk-heading-xl">We cannot find your details</h1>

  <p class="govuk-body">
    We cannot find a match with the details you’ve given.
  </p>

  <p class="govuk-body">
    This could be because:
  </p>

  <ul class="govuk-list govuk-list--bullet">
    <li>you have abbreviated your first name, for example Rob/Robert</li>
    <li>your surname is different to the name held on the Teaching Regulation Agency records</li>
    <li>mistyped or entered some incorrect information</li>
  </ul>

  <h2 class="govuk-heading-m">Check your details and try again</h2>

  <%= render GovukComponent::SummaryListComponent.new do |summary_list| %>
    <% summary_list.row do |row|
          row.key { "Teacher reference number (TRN)" }
          row.value { @wizard.query_store.trn } %>
    <% end %>

    <% summary_list.row do |row|
          row.key { "Full name" }
          row.value { @wizard.store["full_name"] } %>
    <% end %>

    <% summary_list.row do |row|
          row.key { "Date of birth" }
          row.value { @wizard.query_store.formatted_date_of_birth } %>
    <% end %>

    <% if @wizard.store["national_insurance_number"].present? %>
      <% summary_list.row do |row|
            row.key { "National Insurance number" }
            row.value { @wizard.store["national_insurance_number"] } %>
      <% end %>
    <% end %>
  <% end %>

  <p class="govuk-body">
    <% if @wizard.store["national_insurance_number"].present? %>
      Try again to enter your details.
    <% else %>
      Try again to enter your details – entering your National Insurance number will help us match your details.
    <% end %>
  </p>

<%= govuk_button_link_to "Try again", registration_wizard_show_path(@wizard.previous_step_path), class: "govuk-button--secondary" %>

  <h2 class="govuk-heading-m">Still can’t match your details?</h2>

  <p class="govuk-body">
    You can still continue to register - our support team will manually match your details over the next few weeks. You will only be contacted if we cannot match your details.
  </p>

  <%= govuk_button_link_to "Continue registration", registration_wizard_show_path(@wizard.next_step_path) %>
<% end %>
