<% content_for :title do %>
  We cannot find your details
<% end %>

<% content_for :before_content do %>
  <%= render GovukComponent::BackLink.new(
    text: "Back",
    href: registration_wizard_show_path(@wizard.previous_step_path)
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">We cannot find your details</h1>

    <p class="govuk-body">
      We cannot find a match with the details you have provided.
    </p>

    <p class="govuk-body">
      This could be because:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>you have abbreviated your first name, for example Rob/Robert</li>
      <li>your surname is different to the name held on the Teaching Regulation Agency records</li>
      <li>you’ve entered an incorrect TRN</li>
      <li>you have entered an incorrect date of birth</li>
    </ul>

    <p class="govuk-body">
      Try again to enter your details - entering your National Insurance number will help us match your details.
    </p>

    <%= govuk_link_to "Try again", registration_wizard_show_path(@wizard.previous_step_path), button: true %>

    <h2 class="govuk-heading-m">Still can’t match your details?</h2>

    <p class="govuk-body">
      You can still continue to register - our support team will contact you to confirm your details before you start your course.
    </p>

    <%= govuk_link_to "Continue registration", registration_wizard_show_path(@wizard.next_step_path), button: true, class: "govuk-button--secondary" %>
  </div>
</div>
