<%=
  render(
    'registration_wizard/shared/copy_page',
    form: @form,
    wizard: @wizard,
    ) do
%>

  <% ehco_npq = Course.ehco.first %>

  <h1 class="govuk-heading-xl" >You cannot register for <%= localise_sentence_embedded_course_name(ehco_npq) %></h1>

  <p class="govuk-body">
    To be eligible for <%= localise_sentence_embedded_course_name(ehco_npq) %>, you need to do the Headship NPQ.
  </p>

  <p class="govuk-body">
    Go back if you want to <a href="<%= registration_wizard_show_url('choose_your_npq'.dasherize) %>"> register for Headship NPQ</a>.
  </p>
<% end %>
