<%=
  render(
    'registration_wizard/shared/copy_page',
    form: @form,
    wizard: @wizard,
    ) do
%>
  <h1 class="govuk-heading-xl" >Funding</h1>

  <p class="govuk-body">
    You’re not eligible for the scholarship funding for <%= localise_sentence_embedded_course_name(Course.ehco) %> (EHCO).
  </p>

  <p class="govuk-body">
    This means that you would need to pay for the EHCO another way.
    For example you could pay for the course fees yourself or ask your workplace or trust to:
  </p>

  <p class="govuk-body">
    <ul class="govuk-list govuk-list--bullet">
      <li>cover the full cost of the course</li>
      <li>share the cost of the course with you</li>
    </ul>
  </p>

  <%= govuk_button_link_to "Continue", registration_wizard_show_path(@wizard.next_step_path) %>
<% end %>
