<%=
  render(
    'registration_wizard/shared/copy_page',
    form: @form,
    wizard: @wizard,
    ) do
%>
  <h1 class="govuk-heading-xl">Continue to register for an NPQ</h1>

  <%= render('shared/get_an_identity/redirect_button') %>
<% end %>
