<% content_for :additional_info do %>
  <%= render GovukComponent::DetailsComponent.new(summary_text: "I need help with this") do %>
    <p>You can <%= external_link_to "search the public Ofsted register", :check_if_your_workplace_is_registered_with_ofsted, new_tab: true %> to find a URN.</p>
    <p>If your employer is registered with Ofsted or you’re registered with a childminder agency (CMA), you can use their URN.</p>
    <p>If you are a nanny or a childminder you may not be listed on the public Ofsted register. You will need to check your email or registration certificate to find your URN.</p>
    <p>If you or your employer have not registered with Ofsted then you will not have a URN.</p>
  <% end %>
<% end %>

<%=
  render(
    'registration_wizard/shared/questions_page',
     form: @form,
     wizard: @wizard,
  )
%>
