<%=
  render(
    'registration_wizard/shared/copy_page',
    form: @form,
    wizard: @wizard,
    ) do
%>
  <h1 class="govuk-heading-xl">You cannot register for the leading primary mathematics NPQ</h1>

  <p class="govuk-body">This is because you said that you cannot show an understanding of mastery approaches to teaching maths.</p>

  <p class="govuk-body">Join the <%= external_link_to "primary maths Teaching for Mastery programme", :join_the_maths_teaching_for_mastery_programme %> or go back if you want to <%= govuk_link_to "register for a different NPQ", registration_wizard_show_path('choose-your-npq') %>.</p>
<% end %>
