<% content_for :title do %>
  If your provider accepts your application, you’ll qualify for DfE funding
<% end %>

<% content_for :before_content do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "Back",
    href: registration_wizard_show_path(@wizard.previous_step_path)
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">If your provider accepts your application, you’ll qualify for DfE funding</h1>

    <% if Services::EarlyYearsFundingChecker.new(@wizard.query_store, @wizard.store['course_id']).run %>
      <p class="govuk-body">From the information you have provided, DfE scholarship funding should be available for the <strong>NPQ Early Years Leadership (NPQEYL)</strong>.</p>

      <p class="govuk-body">
        You’ll only be eligible for DfE funding for this NPQ once. If you start this NPQ, and then withdraw or fail, you will not be funded again for the same course.
      </p>
    <% else %>
      <p class="govuk-body"><strong>From the information you have provided, DfE scholarship funding should be available.</strong></p>

      <p class="govuk-body">
        You’ll only be eligible for DfE funding for each NPQ once. If you start an NPQ, and then withdraw or fail, you will not be funded again for the same course.
      </p>
    <% end %>

    <%= form_with model: @form, url: registration_wizard_form_url(@form), scope: 'registration_wizard', method: :patch do |f| %>
      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
