<h1 class="govuk-heading-xl">Check your details</h1>

<p class="govuk-body govuk-!-margin-bottom-7">
  We need to check your details on the Teaching Regulation Agency records to ensure you qualify to study for a national professional qualification (NPQ).
</p>

<%=
render(
    'registration_wizard/shared/question_page',
    form: @form,
    wizard: @wizard,
    )
%>