<% content_for :additional_info do %>
  <%= render GovukComponent::DetailsComponent.new(summary_text: "What is a return to teaching adviser?") do %>
    <p>This is a one-to-one service where an adviser supports you with:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>finding and applying for teaching vacancies</li>
      <li>accessing courses to enhance your subject knowledge or teaching practice</li>
    </ul>
  <% end %>
<% end %>

<%=
  render(
    'registration_wizard/shared/questions_page',
    form: @form,
    wizard: @wizard,
  )
%>