<% content_for :before_content do %>
  <%= render GovukComponent::BackLink.new(
    text: "Back",
    href: registration_wizard_show_path(@wizard.previous_step_path)
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">School must be in England</h1>

    <p class="govuk-body">The school you have selected is not in England.</p>

    <p class="govuk-body">This NPQ application can only be completed by teachers working in England.</p>

    <p class="govuk-body">If you teach in a school outside England and you want to study for an NPQ, check with your training provider or your school's training contact.</p>
  </div>
</div>
