<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Register for a National Professional Qualification (NPQ)</h1>

    <p class="govuk-body">Use this service to register:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>to study for an NPQ</li>
      <li>for the Additional Support Offer for new headteachers</li>
    </ul>

    <h2 class="govuk-heading-m">Before you start</h2>

    <p class="govuk-body">You must:</p>

    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
      <li>know which NPQ you want to study</li>
      <li>have chosen a provider</li>
      <li>have your funding source confirmed – either a scholarship, school, college or personal funding</li>
    </ul>

    <p class="govuk-body">You’ll need your teacher reference number (TRN).</p>

    <details class="govuk-details govuk-!-margin-bottom-6" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What is a teacher reference number?
        </span>
      </summary>
      <div class="govuk-details__text">
        <p class="govuk-body">A teacher reference number (TRN) is a unique ID that allows us to check you are a teacher.</p>
        <p class="govuk-body">If you don’t know what your TRN is, this can usually be found on your payslip, teachers’ pension documentation or teacher training records.</p>
        <p class="govuk-body">The TRN has previously been known as a QTS, GTC, DfE, DfES or DCSF number.</p>
        <p class="govuk-body">You may not have a TRN if you qualified outside England or overseas.</p>
      </div>
    </details>

    <%= render GovukComponent::StartButtonComponent.new(
          text: "Start now",
          href: registration_wizard_show_path(step: "provider-check")) %>
  </div>
</div>
