<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "registration_wizard/shared/start_page_content" %>

    <% if Feature.registration_enabled? %>
      <% unless Rails.configuration.x.teacher_auth.enabled %>
        <%=
          render(
            "shared/get_an_identity/redirect_button",
            button_text: "Start now"
          )
        %>
      <% end %>
      <% if Rails.configuration.x.teacher_auth.enabled %>
        <br>
        <%=
          render(
            "shared/teacher_auth/redirect_button",
            button_text: "Start now"
          )
        %>

        <h2 class="govuk-heading-m">Sign in</h2>

        <p class="govuk-body">
          You can also sign in
          through GOV.UK One Login to view a previous registration or change your personal details.
        </p>
        <%= govuk_button_to("Sign in", user_teacher_auth_omniauth_authorize_path, secondary: true, prevent_double_click: true) %>
      <% end %>
    <% end %>
  </div>
</div>
