<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Register for a National Professional Qualification (NPQ)</h1>

    <p class="govuk-body-l">This service is for teachers who want to register to study for an NPQ.</p>

    <p class="govuk-body">Use this service to:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>start your NPQ registration</li>
    </ul>

    <h2 class="govuk-heading-m">Before you start</h2>

    <p class="govuk-body">You must:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>only use this service if you are a teacher working in England, Guernsey, Jersey or the Isle of Man - if you are a teacher working outside these locations contact your provider directly to register</li>
      <li>
        have your teacher reference number (TRN)
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What is a teacher reference number?
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">A teacher reference number (TRN) is a unique ID that allows us to check you are a teacher.</p>
            <p class="govuk-body">If you don’t know what your teacher reference number (TRN) is, this can usually be found on your payslip, teachers’ pension documentation or teacher training records.</p>
            <p class="govuk-body">The TRN has previously been known as a QTS, GTC, DfE, DfES or DCSF number.</p>
            <p class="govuk-body">You may not have a TRN if you qualified outside England or overseas.</p>
          </div>
        </details>
      </li>
      <li>have your funding source confirmed - either a scholarship, school, college or personal funding</li>
      <li>know which NPQ you want to study</li>
      <li>have chosen a provider</li>
    </ul>

    <%= render GovukComponent::StartButtonComponent.new(
          text: "Start now",
          href: registration_wizard_show_path(step: "provider-check")) %>
  </div>
</div>
