<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Register for a national professional qualification (NPQ)</h1>

    <p class="govuk-body">You will be able to use this service to register:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>to study for an NPQ</li>
      <li>for the Early Headship Coaching Offer</li>
    </ul>

    <h2 class="govuk-heading-m">Frequently asked questions</h2>

    <p class="govuk-body">Read our FAQs if you:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        work in
        <%= govuk_link_to("early years or childcare", "/faqs/early-years") %>
      </li>
      <li>
        work in a
        <%= govuk_link_to("school, academy trust or 16 to 19 educational setting", "/faqs/schools") %>
      </li>
      <li>
        <%= govuk_link_to("do not work in a school, childcare or early years", "/faqs/other-users") %>,
        for example you work in a virtual school, hospital school or young offender institution
      </li>
    </ul>

    <h2 class="govuk-heading-m">Before you start</h2>

    <p class="govuk-body">You must:</p>

    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
      <li>have a teacher reference number (TRN)</li>
      <li>have your funding source confirmed – either a scholarship, school, college or personal funding</li>
      <li>know which NPQ course you want to study</li>
      <li>have chosen a provider</li>
    </ul>

    <%= render GovukComponent::StartButtonComponent.new(
          text: "Start now",
          href: registration_wizard_show_path(@wizard.next_step_path)) %>
  </div>
</div>
