<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Register for a National Professional Qualification (NPQ)</h1>

    <p class="govuk-body">You will be able to use this service to register:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>to study for an NPQ</li>
      <li>for the Early Headship Coaching Offer</li>
    </ul>

    <h2 class="govuk-heading-m">Before you start</h2>

    <p class="govuk-body">You must:</p>

    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
      <li>have a teacher reference number (TRN)</li>
      <li>have your funding source confirmed – either a scholarship, school, college or personal funding</li>
      <li>know which NPQ course you want to study</li>
      <li>have chosen a provider</li>
    </ul>

    <%= render GovukComponent::StartButtonComponent.new(
          text: "Start now",
          href: registration_wizard_show_path(@wizard.next_step_path)) %>
  </div>
</div>
