<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('helpers.title.registration_wizard.teacher_reference_number') %></h1>

    <p class="govuk-body">You need a TRN to register for an NPQ, even if you’re not a teacher.</p>

    <p class="govuk-body">If you are a teacher, you can find your TRN on your payslip, teaching contract or teachers’ pension records.</p>

    <p class="govuk-body">If you’ve lost your TRN, you can use the <%= govuk_link_to("Find a lost TRN", "https://find-a-lost-trn.education.gov.uk/start") %> service.</p>

    <p class="govuk-body">If you work in early years, further education, or qualified as a teacher outside England, you may need to <%= govuk_link_to("request a TRN", "https://authorise-access-to-a-teaching-record.education.gov.uk/request-trn?AccessToken=8TDf7xiqoMKATHhx") %> if you do not already have one.</p>
  </div>
</div>

<%=
  render(
    'registration_wizard/shared/questions_page',
    form: @form,
    wizard: @wizard,
  )
%>
