<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('helpers.title.registration_wizard.teacher_reference_number') %></h1>

    <p class="govuk-body">You’ll need a teacher reference number (TRN) to register for an NPQ, even if you are not a teacher. We use your TRN to check you’re eligible to study for an NPQ.</p>

    <p class="govuk-body">You may not have a TRN if you are working in early years, further education or qualified as a teacher outside England.</p>

    <p class="govuk-body">You can use the <%= govuk_link_to 'Find a lost TRN service (opens in a new tab)', 'https://find-a-lost-trn.education.gov.uk/start', target: :_blank %> if you do not know your TRN, or want to check if you have one.</p>
  </div>
</div>

<%=
  render(
    'registration_wizard/shared/question_page',
    form: @form,
    wizard: @wizard,
  )
%>
