<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('helpers.title.registration_wizard.teacher_reference_number') %></h1>

    <p class="govuk-body">You need a TRN to register for an NPQ, even if you’re not a teacher.</p>

    <p class="govuk-body">If you do not have one, you can request one.</p>

    <p class="govuk-body"><%= govuk_link_to("Learn about TRNs", "https://www.gov.uk/guidance/teacher-reference-number-trn") %> including how to check if you have one or request one.</p>

    <p class="govuk-body">You may not have one yet if you work in early years, further education or qualified as a teacher outside England.</p>
  </div>
</div>

<%=
  render(
    'registration_wizard/shared/questions_page',
    form: @form,
    wizard: @wizard,
  )
%>
