<%= tag.h2(class: "govuk-heading-m", id: question_id) do %>
  How do I choose a provider?
<% end %>

<p class="govuk-body">
  NPQs are offered by the following lead training providers:
</p>

<ul class="govuk-list govuk-list--spaced govuk-list--bullet">
  <li>
    <a class="govuk-link" href="https://www.ambition.org.uk/">Ambition Institute</a>
  </li>

  <li>
    <a class="govuk-link" href="https://www.outstandingleaders.org/npq">Best Practice Network (home of Outstanding Leaders Partnership)</a><br>Does not offer NPQs for Leading Literacy or Early Years Leadership
  </li>

  <li>
    <a class="govuk-link" href="https://www.cefel.org.uk/npq/">Church of England</a><br>Does not offer NPQs for Leading Literacy or Early Years Leadership
  </li>

  <li>
    <a class="govuk-link" href="https://www.educationdevelopmenttrust.com/npqs">Education Development Trust</a>
  </li>

  <li>
    <a class="govuk-link" href="http://www.llse.org.uk/">LLSE</a><br>Does not offer NPQs for Leading Literacy or Early Years Leadership
  </li>

   <li>
    <a class="govuk-link" href="https://niot.org.uk/">National Institute of Teaching</a></b>Only offers NPQ for Executive Leadership
  </li>

  <li>
    <a class="govuk-link" href="https://www.school-led.org.uk/">School-Led Network </a></b>Does not offer NPQ for Executive Leadership
  </li>

  <li>
    <a class="govuk-link" href="https://tdtrust.org/npqs/">Teacher Development Trust</a></b>
  </li>

  <li>
    <a class="govuk-link" href="http://www.teachfirst.org.uk/npqs">Teach First</a>
  </li>

  <li>
    <a class="govuk-link" href="https://www.ucl.ac.uk/ioe/departments-and-centres/centres/ucl-centre-educational-leadership/national-professional-qualification-programmes">UCL Institute of Education</a>
  </li>
</ul>

<p class="govuk-body">
You should speak to your workplace to help you choose a provider. Contact the providers directly if you have any questions about the courses they offer.
</p>
