<%= tag.h2(class: "govuk-heading-m", id: question_id) do %>
  How is my NPQ paid for?
<% end %>

<p class="govuk-body">There are a number of ways to pay for an NPQ: </p>

<ul class="govuk-list govuk-list--bullet">
  <li>You can <%= govuk_link_to("read the guidance to see if you are eligible for DfE scholarship funding", "https://www.gov.uk/government/publications/national-professional-qualifications-npqs-reforms/national-professional-qualifications-npqs-reforms#funding") %></li>
  <li>You can pay for an NPQ yourself</li>
  <li>Your employer can pay</li>
  <li>You can split the cost with your employer</li>
</ul>

<p class="govuk-body">If you do not think you’re eligible for DfE scholarship funding, you should discuss how you’ll pay with your training provider.</p>
