<%= tag.h2(class: "govuk-heading-m", id: question_id) do %>
  What do I need before registering for an NPQ?
<% end %>

<p class="govuk-body">Before you register, you’ll need to make sure you have done the following:</p>

<ol class="govuk-list govuk-list--number">
  <li>Got a Teacher Reference Number (TRN)</li>
  <li>Chosen a training provider</li>
  <li>Know how your NPQ is being paid for</li>
</ol>
