<%= tag.h2(class: "govuk-heading-m", id: question_id) do %>
  Where do I find my Ofsted URN?
<% end %>

<p class="govuk-body">
  You can <%= govuk_link_to("search the public Ofsted register (opens in a new tab)", "https://reports.ofsted.gov.uk/childcare", { target: "_blank" }) %> to find a URN.
</p>

<p class="govuk-body">
  If your employer is registered with Ofsted or you're registered with a childminder agency (CMA), you can use their URN.
</p>

<p class="govuk-body">
  If you’re a nanny or a childminder you may not be listed on the public Ofsted register. You’ll need to check your email or registration certificate to find your URN.
</p>

<p class="govuk-body">
  If you or your employer have not registered with Ofsted then you will not have a URN.
</p>
