<% hidden ||= false %>
<% button_text ||= "Continue" %>

<span <%= "class=govuk-visually-hidden" if hidden %>>
  <%=
    govuk_start_button(
      text: button_text, href: user_tra_openid_connect_omniauth_authorize_path(start_now: true), as_button: true
    )
  %>
</span>
