<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Change your course or provider</h1>

    <p class="govuk-body">
      If you have already started your course, contact your provider to make any changes.
    </p>

    <p class="govuk-body">
      If you have not started your course, you can change your course or provider by submitting a new registration. You will need to do this when registrations open.
    </p>
  </div>
</div>
