<% content_for :title do %>
  Choose an NPQ and provider
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Choose an NPQ and provider</h1>

    <p class="govuk-body">Visit <a href="https://professional-development-for-teachers-leaders.education.gov.uk/">Professional development for teachers and leaders</a> to see what NPQs are available.</p>

    <p class="govuk-body">Your employer can help you choose an NPQ that’s suitable for you. They may also have a recommended provider for your training.</p>

    <p class="govuk-body">Providers include:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link" href="https://www.ambition.org.uk/blog/how-new-npqs-will-make-professional-development-work-your-school/">Ambition Institute</a></li>
      <li><a class="govuk-link" href="https://www.outstandingleaders.org/npq">Best Practice Network (home of Outstanding Leaders Partnership)</a></li>
      <li><a class="govuk-link" href="https://www.cefel.org.uk/npq/">Church of England</a></li>
      <li><a class="govuk-link" href="https://www.educationdevelopmenttrust.com/npqs">Education Development Trust</a></li>
      <li><a class="govuk-link" href="http://www.llse.org.uk/">LLSE</a></li>
      <li><a class="govuk-link" href="https://niot.org.uk/">National Institute of Teaching</a></li>
      <li><a class="govuk-link" href="https://tdtrust.org/npqs/">Teacher Development Trust</a></li>
      <li><a class="govuk-link" href="http://www.teachfirst.org.uk/npqs">Teach First</a></li>
      <li><a class="govuk-link" href="https://www.ucl.ac.uk/ioe/departments-and-centres/centres/ucl-centre-educational-leadership/national-professional-qualification-programmes">UCL Institute of Education</a></li>
    </ul>

    <p class="govuk-body">Not every provider will necessarily offer every NPQ. Talk to your employer or check with individual providers for advice.</p>

  </div>
</div>
