<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "registration_wizard/shared/start_page_content" %>

    <% if Feature.registration_enabled? %>
      <%=
        render(
          'shared/teacher_auth/redirect_button',
          button_text: "Start now"
        )
      %>
    <% end %>
  </div>
</div>
