<h2>Change preference</h2>

<%= form_with model: Forms::CookiePreferences.new, scope: "cookie_preferences", url: cookie_preferences_path do |f| %>
  <%= f.hidden_field :return_path, value: (request.env["REQUEST_PATH"] || "/") %>

  <div class="govuk-button-group">
    <%= f.button "Accept additional cookies", name: "cookie_preferences[consent]", value: "accept", class: "govuk-button", data: { module: "govuk-button" } %>

    <%= f.button "Reject additional cookies", name: "cookie_preferences[consent]", value: "reject", class: "govuk-button", data: { module: "govuk-button" } %>
  </div>
<% end %>

<h2>How we use cookies</h2>
