<% content_for :title do %>
  Privacy Policy
<% end %>

<% content_for :before_content do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "Back",
    href: root_path,
  ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Privacy policy</h1>

    <p class="govuk-body">
      This policy refers to data collected as part of the national professional qualifications programme, run by the Department for Education (DfE).
    </p>

    <p class="govuk-body">
      This includes the ‘Register for a national professional qualification’ service.
    </p>

    <p class="govuk-body">
      DfE is the data controller for your information, as defined by data protection law. This policy refers to ‘us’, ‘we’ and ‘our’. This means DfE.
    </p>

    <p class="govuk-body">
      Your data is also shared with the following data processors:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>NPQ providers and their delivery partners (referred to as ‘NPQ providers’ in this policy)</li>
      <li>auditors and evaluators who quality assure NPQs and NPQ providers</li>
    </ul>

    <p class="govuk-body">
      Our lawful basis for our use of your data is the Public Task Article 6(1)(e) of the General Data Protection Regulation (GDPR).
    </p>

    <h2 class="govuk-heading-l">What personal data we collect</h2>

    <p class="govuk-body">
      When you register for an NPQ we may collect the following information about you:
    </p>

    <ul class="govuk-list govuk-list--bullet">
     <li>name</li>
     <li>phone number</li>
     <li>email address</li>
     <li>teacher reference number (TRN)</li>
     <li>date of birth</li>
     <li>National Insurance number</li>
     <li>where you work</li>
     <li>what your role is</li>
     <li>the institution that awarded your qualified teacher status (QTS)</li>
    </ul>

    <h2 class="govuk-heading-l">How we use your personal data</h2>

    <p class="govuk-body">We use your personal data for the following purposes.</p>

    <h3 class="govuk-heading-m">Processing NPQ registrations</h3>

    <p class="govuk-body">This includes:</p>

    <ul class="govuk-list govuk-list--bullet">

      <li>sending your registration details to NPQ providers</li>
      <li>validating your teacher reference number (TRN)</li>
      <li>working out any funding you’re eligible for</li>
      <li>getting in touch with you and NPQ providers about your NPQ registration</li>
      <li>determining NPQ outcomes</li>
      <li>comparing your data to other data we hold</li>
      <li>getting in touch if there’s a security issue concerning your data</li>
      </ul>

    <h3 class="govuk-heading-m">Improving government services</h3>

    <p class="govuk-body">
      We’ll use your data to help us improve our services.
    </p>

    <p class="govuk-body">
      For example, we’ll contact you about taking part in user research.
    </p>

    <p class="govuk-body">
      We’ll also look at any feedback you share - for example, through website surveys.
    </p>

    <h3 class="govuk-heading-m">Informing government policy</h3>

    <p class="govuk-body">
      We may use your data to help inform government policy.
    </p>
    
    <h3 class="govuk-heading-m">Identifying you so that you can access DfE services</h3>
    
    <p class="govuk-body">
      If we do not already hold your data on our records, we’ll create a professional record for you. 
    </p>
    
    <p class="govuk-body">
      We use this to identify you so that you can access relevant DfE services.  
    </p>
    

    <h3 class="govuk-heading-m">Monitoring and evaluating NPQs</h3>

    <p class="govuk-body">
      In order to evaluate, quality-assure and monitor NPQs, we may share your data with auditors and evaluators.
    </p>

    <p class="govuk-body">
      They may contact you for research relating to your NPQ. You can opt out of this if you’re contacted.
    </p>
    
    <h3 class="govuk-heading-m">Inform you about relevant government policies</h3>
    
    <p class="govuk-body">
      We may contact you to inform you about government policies relevant to you. You can opt out of this if you’re contacted.
    </p>

    <h2 class="govuk-heading-l">Who we share your data with</h2>

    <p class="govuk-body">
      We need to share personal data for the purposes mentioned above.
    </p>

    <p class="govuk-body">
      We do so under section 132 of the Education Act 2002, together with regulation 5 of the Education (School Teachers’ Qualifications) (England) Regulations 2003.
    </p>

    <h3 class="govuk-heading-m">NPQ providers</h3>

    <p class="govuk-body">
      When you register for an NPQ you’re asked to choose an NPQ provider. We share your data with your chosen provider.
    </p>

    <p class="govuk-body">
      We have a data sharing agreement with NPQ providers so they can only use your data to:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>process NPQ registrations and applications, which may include contacting you</li>
      <li>get statistics for internal use</li>
      <li>get in touch with you if there’s a security issue concerning your data</li>
    </ul>

    <h3 class="govuk-heading-m">Customer service systems</h3>

    <p class="govuk-body">
      We may use customer service management systems to process some personal data, such as feedback you send us.
    </p>

    <p class="govuk-body">
      Zendesk is currently our preferred customer service management system because it uses various safeguards to look after your data.
    </p>

    <h3 class="govuk-heading-m">Google</h3>

    <p class="govuk-body">
      We’ll ask if you agree to cookies so that we can get statistics from Google Analytics. If you consent, Google may be able to get your IP address. We use Google Analytics for statistics and will not identify you personally from these.
    </p>

    <p class="govuk-body">
      We also use Google’s G Suite to process some personal data. Google processes your data according to our instructions.
    </p>

    <h3 class="govuk-heading-m">Hosting services</h3>

    <p class="govuk-body">
      We host our services on GOV.UK PaaS, which encrypts your data to prevent it being accessed by unauthorised people.
    </p>

    <h3 class="govuk-heading-m">Auditors</h3>

    <p class="govuk-body">
      We use external auditors to quality assure NPQ providers to ensure that you’re receiving the appropriate standard of training.
    </p>

    <h3 class="govuk-heading-m">Evaluators</h3>

    <p class="govuk-body">
      We use external evaluators to understand the effectiveness of the training you’re receiving from NPQ providers and the impact it’s having on the teacher workforce.
    </p>

    <h2 class="govuk-heading-l">How long we keep your personal data for</h2>

    <p class="govuk-body">
      We will only keep your personal data for as long as necessary for the purpose for which it was obtained.
    </p>

    <h2 class="govuk-heading-l">Your rights</h2>

    <p class="govuk-body">
      Under the Data Protection Act 2018, you have the right to:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>be informed about how your data is being used</li>
      <li>access personal data</li>
      <li>have incorrect data updated</li>
      <li>have data erased</li>
      <li>stop or restrict the processing of your data</li>
      <li>get and reuse your data for different services</li>
      <li>object to how your data is processed in certain circumstances</li>
    </ul>

    <p class="govuk-body">
      You can find more information about how we handle personal data in our <%= govuk_link_to "personal information charter", "https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter" %>.
    </p>

    <h2 class="govuk-heading-l">Get help</h2>

    <p class="govuk-body">
      <%= govuk_link_to "Contact the Department for Education", "https://form.education.gov.uk/en/AchieveForms/?form_uri=sandbox-publish://AF-Process-f1453496-7d8a-463f-9f33-1da2ac47ed76/AF-Stage-1e64d4cc-25fb-499a-a8d7-74e98203ac00/definition.json&redirectlink=%2Fen&cancelRedirectLink=%2Fen" %> if you want to ask us to remove your data or get access to the data we have about you.
    </p>

    <p class="govuk-body">
      Contact NPQ providers separately regarding removing your data from their systems.
    </p>

    <p class="govuk-body">
      For further information or to raise a concern, visit the <%= govuk_link_to "Information Commissioner’s Office (ICO)", "https://ico.org.uk" %>.
    </p>

    <h2 class="govuk-heading-l">Changes to this privacy policy</h2>

    <p class="govuk-body">
      We reserve the right to update this policy at any time.
    </p>

     <p class="govuk-body">
      We’ll provide you with a new policy if we make substantial updates.
     </p>

    <p class="govuk-body">
      We may also notify you in other ways about the processing of your personal information.
    </p>
  </div>
</div>
