<div data-module="app-itt-provider-autocomplete">
  <%=
    form.govuk_select(
      question.name,
      options_for_select(
        AutocompleteIttProviders.as_autocomplete_options
      ),
      options: { include_blank: true },
      label: { size: "xl", tag: "h1" },
    )
  %>
</div>
