<nav class="x-govuk-primary-navigation" aria-labelledby="primary-navigation-heading">
  <div class="govuk-width-container">
    <h2 class="govuk-visually-hidden" id="primary-navigation-heading">Navigation</h2>
    <ul class="x-govuk-primary-navigation__list">
      <%= nodes %>
    </ul>
  </div>
</nav>
