<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Statement summary</h2>
    <div class="govuk-grid-column-one-half govuk-!-text-align-right">
      <p class="govuk-!-static-margin-1">
        <strong>
          <%= helpers.govuk_link_to "Download declarations (CSV)", npq_separation_admin_finance_assurance_report_path(statement, format: :csv) %>
        </strong>
      </p>
    </div>
  </div>
  <div class="govuk-summary-card__content">
    <div id="payment-deadline-warning">
      <%= helpers.govuk_warning_text(text: "The output payment deadline is #{statement.deadline_date.to_fs(:govuk)}") %>
    </div>

    <h2 class="govuk-heading-s">Declarations</h2>
    <p class="govuk-body">
      This table shows how many declarations are expected, how many have been received,
      and how many are still outstanding for each stage.
    </p>

    <%=
      helpers.govuk_table do |table|
        table.with_head do |head|
          head.with_row do |row|
            row.with_cell(text: "Declaration type")
            row.with_cell(text: "Expected")
            row.with_cell(text: "Received")
          end
        end

        table.with_body do |body|
          statement.milestone_declaration_types.each do |declaration_type|
            body.with_row do |row|
              row.with_cell(text: declaration_type.humanize)
              row.with_cell(text: declarations_calculator.expected_applications(declaration_type).count)
              row.with_cell(text: declarations_calculator.received_declarations(declaration_type).count)
            end
          end
          body.with_row do |row|
            row.with_cell { tag.strong "Totals" }
            row.with_cell { tag.strong declarations_calculator.all_expected_applications.count }
            row.with_cell { tag.strong declarations_calculator.received_declarations.count }
          end
        end
      end
    %>

    <% if statement.milestone_declaration_types.empty? %>
      <p class="govuk-body">
        <em>No milestones found for this statement.</em>
      </p>
    <% end %>

    <h2 class="govuk-heading-s">Payment details</h2>
    <%=
      helpers.govuk_summary_list do |summary_list|
        summary_list.with_row do |row|
          row.with_key { "Voids" }
          row.with_value { calculator.total_voided.to_s }
          row.with_action(text: "View Voids", href: npq_separation_admin_finance_voided_index_path(statement)) if link_to_voids
        end

        summary_list.with_row do |row|
          row.with_key { "Output payment" }
          row.with_value { number_to_currency(calculator.total_output_payment) }
        end

        summary_list.with_row do |row|
          row.with_key { "Output payment deadline" }
          row.with_value { statement.deadline_date.to_fs(:govuk) }
          row.with_action(text: "Change", href: npq_separation_admin_finance_statements_change_deadline_date_path(statement))
        end

        if calculator.use_targeted_delivery_funding?
          summary_list.with_row do |row|
            row.with_key { "Targeted delivery funding" }
            row.with_value { number_to_currency(calculator.total_targeted_delivery_funding) }
          end
        end

        summary_list.with_row do |row|
          row.with_key { "Clawbacks" }
          row.with_value { -number_to_currency(calculator.total_clawbacks) }
        end

        summary_list.with_row do |row|
          row.with_key { "Adjustments" }
          row.with_value { number_to_currency(calculator.total_adjustments) }
        end

        unless calculator.total_service_fees.zero?
          summary_list.with_row do |row|
            row.with_key { "Service fee" }
            row.with_value { number_to_currency(calculator.total_service_fees) }
          end
        end

        summary_list.with_row do |row|
          row.with_key { "Total net VAT" }
          row.with_value { tag.strong number_to_currency(calculator.total_payment) }
        end
      end
    %>
  </div>
</div>
