<div class="govuk-notification-banner" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      A migration is currently in-progress
    </h3>
    <p class="govuk-body">It was started <%= tag.strong(time_ago_in_words(migration_started_at(@data_migrations))) %></T=> ago.</p>
    
    <%= 
      govuk_task_list do |task_list|
        @data_migrations.each do |data_migration|
          task_list.with_item(html_attributes: { class: "data-migration-#{data_migration.model.parameterize}" }, title: data_migration.name, status: data_migration_status_tag(data_migration))
        end
      end 
    %>
  </div>
</div>

