<nav class="x-govuk-sub-navigation" aria-labelledby="sub-navigation-heading">
  <h2 class="govuk-visually-hidden" id="sub-navigation-heading">Navigation</h2>
    <ul class="x-govuk-sub-navigation__section">
      <% structure.each do |section| %>
      <%= tag.li(class: navigation_item_classes(section)) do %>
        <%= navigation_link(section) %>

        <% if section.nodes.present? %>
          <ul class="x-govuk-sub-navigation__section x-govuk-sub-navigation__section--nested">
            <% section.nodes.each do |node| %>
              <li class="x-govuk-sub-navigation__section-item">
                <%= navigation_link(node) %>
              </li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</nav>
