<h1 class="govuk-heading-l">All cohorts</h1>

<%= govuk_button_link_to('New cohort', new_npq_separation_admin_cohort_path) if current_admin.super_admin? %>

<%=
  govuk_table do |table|
    table.with_head do |header|
      header.with_row do |row|
        row.with_cell(text: "Start year")
        row.with_cell(text: "Registration start date")
        row.with_cell(text: "Funding cap")
      end
    end

    table.with_body do |body|
      @cohorts.each do |cohort|
        body.with_row do |row|
          row.with_cell(text: govuk_link_to(format_cohort(cohort), npq_separation_admin_cohort_path(cohort)))
          row.with_cell(text: cohort.registration_start_date.to_date.to_fs(:govuk))
          row.with_cell(text: boolean_red_green_tag(cohort.funding_cap))
        end
      end
    end
  end
%>

<%= govuk_pagination(pagy: @pagy) %>
