<h1 class="govuk-heading-l">Providers</h1>

<p class="govuk-body">
  Select a provider to see which delivery partners they work with to deliver NPQs.
</p>

<ul class="govuk-list">
  <% LeadProvider.order(:name).each do |lead_provider| %>
    <li>
      <%= link_to lead_provider.name, npq_separation_admin_lead_provider_path(lead_provider), class: "govuk-link" %>
    </li>
  <% end %>
</ul>
