<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
      <h1 class="govuk-panel__title">
        Your email alert has been set up.
      </h1>

      <div class="govuk-panel__body">
        <div class="govuk-!-font-size-24">
          We’ll send an email to <%= @email %> when registration reopens.
        </div>

      </div>
    </div>
  </div>
</div>
