<%= govuk_back_link href: npq_separation_admin_delivery_partners_path %>

<h1 class="govuk-heading-l govuk-!-margin-top-6">Add a delivery partner</h1>

<%= render "form", cancel_path: npq_separation_admin_delivery_partners_path %>
