// Entry point for your Sass build
$govuk-images-path: "";
$govuk-fonts-path: "";
$govuk-global-styles: true;
$moj-images-path: "/";

@import "govuk-frontend/dist/govuk/base";
@import "govuk-frontend/dist/govuk/core/index";
@import "govuk-frontend/dist/govuk/objects/index";
@import "govuk-frontend/dist/govuk/components/index";
@import "govuk-frontend/dist/govuk/utilities/index";
@import "govuk-frontend/dist/govuk/overrides/index";
@import "@ministryofjustice/frontend/moj/components/timeline/timeline";
@import "accessible-autocomplete/src/autocomplete";
@import "contents-list";
@import "subnav";
@import "big-number";
@import "admin";
@import "api_guidance";
@import "mermaid";
@import "panel" ;

h1.govuk-fieldset__heading {
  margin-bottom: 10px;
}

.js-enabled .npq-js-hidden {
  display: none;
}

.npq-js-reveal {
  display: none;
}

.js-enabled .npq-js-reveal {
  display: block;
}

// no idea why autocomplete is missing font-family
.autocomplete__option {
  font-family: "GDS Transport", arial, sans-serif;
}

.no-list-style-type {
  list-style-type: none;
}

.admin-search-box {
  background-color: #f3f2f1;
  padding: 20px 20px 0 20px;
  margin-bottom: 20px;
}

$admin-template-max-width: 1200px;

.govuk-template--wide {
  .govuk-width-container {
    max-width: 1200px;
  }
}

.ml-auto {
  margin-left: auto;
}

.question-hint-list {
  margin-top: govuk-spacing(1);
  padding-left: govuk-spacing(4);

  li {
    margin-bottom: govuk-spacing(1);
  }
}

.no-border-bottom {
  border-bottom: none;
}

.font-size-small {
  font-size: 0.8rem; // default is 1rem for govuk-!-font-size-16
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-padding-top {
  padding-top: 0;
}
