<nav class="contents-list" aria-label="Frequently asked questions">
  <h2 class="contents-list__title">Contents</h2>

  <ul class="contents-list__list">
    <% questions_and_answers.each_key do |question| %>
      <li class="contents-list__list-item">
        <%= govuk_link_to(question, "#" + question.parameterize, class: "contents-list__link", no_visited_state: true) %>
      </li>
    <% end %>
  </ul>
</nav>
