<% content_for :title do %>
  NPQ FAQs: Early years and childcare
<% end %>

<% content_for(:before_content) { govuk_back_link(href: "/") } %>

<h1 class="govuk-heading-xl">NPQ FAQs: Early years and childcare</h1>

<% questions_and_answers = {
  "What do I need to register for the NPQ for Early Years Leadership?" => "pages/faqs/early-years/what-do-i-need-to-register",
  "Do I need a Teacher Reference Number even though I’m not a teacher?" => "pages/faqs/early-years/do-i-need-a-trn",
  "How do I get a TRN?" => "pages/faqs/early-years/how-do-i-get-a-trn",
  "How do I choose a provider?" => "pages/faqs/early-years/how-do-i-choose-a-provider",
  "How is my NPQ paid for?" => "pages/faqs/early-years/how-is-my-npq-paid-for",
  "Where do I find my Ofsted URN?" => "pages/faqs/early-years/where-do-i-find-my-ofsted-urn",
  "What is a full and relevant qualification?" => "pages/faqs/early-years/what-is-a-full-and-relevant-qualification",
  "How do I register for an NPQ?" => "pages/faqs/early-years/how-do-i-register-for-an-npq",
  "I need more support" => "pages/faqs/early-years/i-need-more-support",
} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render(
      partial: "pages/faqs/contents-list",
      locals: { questions_and_answers: questions_and_answers }
    ) %>
  </div>
</div>

<div class="govuk-grid-row">
  <article class="govuk-grid-column-two-thirds">
    <%= render(
      partial: "pages/faqs/questions-and-answers",
      locals: { questions_and_answers: questions_and_answers }
    ) %>
  </article>

  <aside class="govuk-grid-column-one-third">
    <p class="govuk-body">
      Related content
    </p>
  </aside>
</div>
