<% content_for :title do %>
  NPQ FAQs: I don’t work in a school or early years
<% end %>

<% content_for(:before_content) { govuk_back_link(href: "/") } %>

<h1 class="govuk-heading-xl">NPQ FAQs: I don’t work in a school or early years</h1>

<% questions_and_answers = {
  "What do I need before registering for an NPQ?" => "pages/faqs/other_users/what_do_i_need_before_registering",
  "Do I need a Teacher Reference Number (TRN) even though I’m not a teacher?" => "pages/faqs/other_users/do_i_need_a_trn_if_im_not_a_teacher",
  "How do I get a TRN?" => "pages/faqs/other_users/how_do_i_get_a_trn",
  "How do I choose a provider?" => "pages/faqs/other_users/how_do_i_choose_a_provider",
  "How is my NPQ paid for?" => "pages/faqs/other_users/how_is_my_npq_paid_for",
  "What is a full and relevant qualification (NPQ for Early Years Leadership only)?" => "pages/faqs/other_users/what_is_a_full_and_relevant_qualification",
  "How do I register for an NPQ?" => "pages/faqs/other_users/how_do_i_register_for_an_npq",
  "I need more support" => "pages/faqs/other_users/i_need_more_support",
} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render(
      partial: "pages/faqs/contents_list",
      locals: { questions_and_answers: questions_and_answers }
    ) %>
  </div>
</div>

<div class="govuk-grid-row">
  <article class="govuk-grid-column-two-thirds">
    <%= render(
      partial: "pages/faqs/questions_and_answers",
      locals: { questions_and_answers: questions_and_answers }
    ) %>
  </article>


</div>
