<% content_for :title do %>
  NPQ FAQs: Schools, academy trusts or 16 to 19 educational settings
<% end %>

<% content_for(:before_content) { govuk_back_link(href: "/") } %>

<h1 class="govuk-heading-xl">NPQ FAQs: Schools, academy trusts or 16 to 19 educational settings</h1>

<% questions_and_answers = {
  "What do I need before registering for an NPQ?" => "pages/faqs/schools/what-do-i-need-before-registering",
  "What to do if you’ve forgotten your TRN" => "pages/faqs/schools/what-do-i-do-if-ive-forgotten-my-trn",
  "Do I need a TRN if I'm not a teacher?" => "pages/faqs/schools/do-i-need-a-trn-if-im-not-a-teacher",
  "How do I get a TRN?" => "pages/faqs/schools/how-do-i-get-a-trn",
  "How do I choose a provider?" => "pages/faqs/schools/how-do-i-choose-a-provider",
  "How is my NPQ paid for?" => "pages/faqs/schools/how-is-my-npq-paid-for",
  "What is a full and relevant qualification (NPQ for Early Years Leadership only)?" => "pages/faqs/schools/what-is-a-full-and-relevant-qualification",
  "How do I register for an NPQ?" => "pages/faqs/schools/how-do-i-register-for-an-npq",
  "I need more support" => "pages/faqs/schools/i-need-more-support",
} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render(
      partial: "pages/faqs/contents-list",
      locals: { questions_and_answers: questions_and_answers }
    ) %>
  </div>
</div>

<div class="govuk-grid-row">
  <article class="govuk-grid-column-two-thirds">
    <%= render(
      partial: "pages/faqs/questions-and-answers",
      locals: { questions_and_answers: questions_and_answers }
    ) %>
  </article>

  <aside class="govuk-grid-column-one-third">
    <p class="govuk-body">
      Related content
    </p>
  </aside>
</div>
