<h1 class="govuk-heading-l">Dashboards</h1>

<p class="govuk-body">See how many applications there have been for different courses and providers.</p>

<p class="govuk-body">
  You can also visit the
  <%= govuk_link_to "cross-programme dashboards", "https://educationgovuk.sharepoint.com/sites/lvewp00660", new_tab: true %>
  for more NPQ insights.
</p>
