<% content_for :title, "Migrations" %>

<% if @in_progress_migration.present? %>
  <%= render(partial: "in_progress_migration") %>
<% end %>

<h1 class="govuk-heading-xl">Migrations</h1>

<p class="govuk-body">You can run the NPQ migration from ECF using this migration tool.</p>

<%= button_to "Run migration", { action: :create }, class: "govuk-button govuk-button--warning", disabled: @in_progress_migration.present? %>

<% if @most_recent_migration.present? %>
  <%= render(partial: "most_recent_migration") %>
<% end %>
