<h1 class="govuk-heading-l">Registration closed</h1>

<ul class="govuk-list govuk-list--bullet">
  <%= tag.li( govuk_link_to("Closed registrations", npq_separation_admin_closed_registration_users_path, no_visited_state: true,)) %>
  <%= tag.li( govuk_link_to("Email subscriptions", npq_separation_admin_reopening_email_subscriptions_path, no_visited_state: true,)) %>
</ul>
