<h1 class="govuk-heading-l">Registration closed</h1>

<ul class="govuk-list govuk-list--bullet">
  <%= tag.li( govuk_link_to("Users who can access the service when it’s closed", npq_separation_admin_registration_closed_closed_registration_users_path, no_visited_state: true,)) %>

  <% if current_admin.super_admin? %>
    <%= tag.li( govuk_link_to("Users who’ve requested emails about registration reopening", npq_separation_admin_registration_closed_reopening_email_subscriptions_path, no_visited_state: true,)) %>
  <% end %>
</ul>
