<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render "admin/layout", title: "Unsynced applications" %>

    <% if @users.blank? %>
      <p class="govuk-body">All users have been successfuly linked with an ECF user.</p>
    <% else %>
      <%=
        govuk_table do |table|
          table.with_head do |head|
            head.with_row do |row|
              row.with_cell(header: true, text: "Name")
              row.with_cell(header: true, text: "Email")
              row.with_cell(header: true, text: "In GAI Pilot?")
              row.with_cell(header: true, text: "Registered On")
              row.with_cell(header: true, text: "")
            end
          end

          table.with_body do |body|
            @users.each do |user|
              body.with_row do |row|
                row.with_cell(text: user.full_name.presence || "-")
                row.with_cell(text: govuk_link_to(user.email.presence || "No Email Found", admin_user_path(user)))
                row.with_cell(text: boolean_red_green_tag(user.get_an_identity_provider?))
                row.with_cell(text: user.created_at.to_date.to_formatted_s(:govuk))
                row.with_cell(text: govuk_link_to("View", admin_user_path(user)))
              end
            end
          end
        end
      %>
    <% end %>

    <%== govuk_pagination(pagy: @pagy) %>
  </div>
</div>
