<h1 class="govuk-heading-xl">DfE scholarship funding is not available</h1>

<p class="govuk-body">Our records show that you have previously received scholarship funding for <b><%= course_name %></b>. If you have failed or withdrawn from this course, then you are not eligible for scholarship funding for the same NPQ again.</p>

<p class="govuk-body">You can still register for <%= course_name %>, but you need to pay for it another way.</p>

<%= govuk_details(summary_text: "I have not failed or withdrawn from this course") do %>
  <p class="govuk-body">PENDING COPY</p>
<% end %>
