<h1 class="govuk-heading-xl">DfE scholarship funding is not available</h1>

<p class="govuk-body">To be eligible for scholarship funding for the <%= course_name %> you must work:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>In England, Jersey, Guernsey or the Isle of Man</li>
  <li>In a state-funded school, trust or 16 to 19 educational setting</li>
</ul>

<p class="govuk-body">You can still register for <%= course_name %>, but you need to pay for it another way. To find out more about your funding options please contact your course provider.</p>
