<h1 class="govuk-heading-xl">Funding eligibility</h1>

<p class="govuk-body">
  You’re eligible for scholarship funding for the <%= course_name %> NPQ.
  <br>
  This means that you will not have to pay for the course fees.
  <br>
  Your workplace is also eligible for targeted support funding.
  <br>
  They’ll receive £<%= amount %> to support you to do this NPQ.
</p>
