<h1 class="govuk-heading-xl">Funding</h1>

<p class="govuk-body">You’re eligible for scholarship funding for <%= localise_sentence_embedded_course_name(course) %> starting before <%= application_course_start_date %>.</p>

<p class="govuk-body">This means that if the provider accepts your application and confirms that you have a funded space, you will not have to pay for the course fees.</p>

<% if Flipper.enabled?(:targeted_support_funding) %>
    <p class="govuk-body">Your workplace is also eligible for targeted support funding.</p>

    <p class="govuk-body">They’ll receive £<%= funding_amount %> to support you to do this NPQ.</p>
<% end %>
