<h1 class="govuk-heading-xl">Funding eligibility</h1>

<p class="govuk-body">
  You’re eligible for scholarship funding for the <%= course_name %>.
  <br>
  This means that you will not have to pay for the course fees.
</p>
