<h1 class="govuk-heading-xl">Funding</h1>

<p class="govuk-body">
  Your registration will be reviewed by the Department for Education (DfE) to check if you’re eligible for scholarship funding.
</p>

<p class="govuk-body">
  If you are eligible, you would not have to pay for the course fees.
</p>

<p class="govuk-body">
  Your provider will be notified of your funding eligibility so you should check the outcome with them.
</p>
