<h1 class="govuk-heading-xl">Funding</h1>

<p class="govuk-body">
  Your registration will be reviewed by the Department for Education (DfE) to check if you’re eligible for scholarship funding for the <%= localise_sentence_embedded_course_name(course) %> starting before <%= application_course_start_date %>.
</p>

<p class="govuk-body">
  If you are eligible, and the provider confirms that you have a funded space, you would not have to pay for the course fees.
</p>