<h1 class="govuk-heading-xl">Funding</h1>

<p class="govuk-body">
  Your registration will be reviewed by the Department for Education (DfE) to check if you’re eligible for scholarship funding.
</p>

<p class="govuk-body">
  We may contact you to request more information about your registration.
</p>

<p class="govuk-body">
  If you're eligible, this does not guarantee funding for your course. Your provider must confirm they can offer you a funded place, after you apply to them.
</p>
