<h1 class="govuk-heading-xl">Funding</h1>

<p class="govuk-body">
  If your provider accepts your application, you’ll be eligible for scholarship funding for the <%= localise_sentence_embedded_course_name(course) %> starting in February 2024.
</p>

<p class="govuk-body">
  This means that you will not have to pay for the course fees.
</p>
