<h1 class="govuk-heading-xl">Funding eligibility</h1>

<p class="govuk-body">
  Your registration will be reveiwed by the Department for Education (DfE) to check if you’re eligibile for scholarship funding.
  <br>
  If you are eligible, you would not have to pay for the course fees.
</p>

<p class="govuk-body">
  Your provider will be notified of your funding elgibility so you should check the outcome with them.
</p>
