<h1 class="govuk-heading-xl">If your provider accepts your application, you’ll qualify for DfE funding</h1>

<p class="govuk-body">
  From the information you have provided, DfE scholarship funding should be available for the <strong>NPQ for Leading Teacher Development (NPQLTD).</strong>
</p>

<p class="govuk-body">
  You’ll only be eligible for DfE funding for each NPQ once. If you start an NPQ, and then withdraw or fail, you will not be funded again for the same course.
</p>
