<h1 class="govuk-heading-xl">Funding</h1>

<p class="govuk-body">You’re eligible for scholarship funding for <%= localise_sentence_embedded_course_name(course) %>, but this does not guarantee a funded place is available.</p>

<p class="govuk-body">Your provider must confirm they can offer you a funded place, after you apply to them.</p>
