<h1 class="govuk-heading-xl">Funding</h1>

<p class="govuk-body">
  You’re eligible for scholarship funding for <%= localise_sentence_embedded_course_name(course) %> starting before <%=I18n.t("helpers.title.registration_wizard.course_start") %>.
</p>

<p class="govuk-body">
  This means that you will not have to pay for the course fees.
</p>
