<h1 class="govuk-heading-xl">If your provider accepts your application, you’ll qualify for DfE funding</h1>

<p class="govuk-body">
  From the information you have provided, DfE scholarship funding should be available for <%= localise_sentence_embedded_course_name(course) %>.
</p>

<p class="govuk-body">
  You’ll only be eligible for DfE funding for this NPQ once. If you start this NPQ, and then withdraw or fail, you will not be funded again for the same course.
</p>
