<h1 class="govuk-heading-xl">You may qualify for DfE scholarship funding</h1>

<p class="govuk-body">
  DfE scholarship funding may be available for the <%= course_name %> course you have selected.
</p>

<p class="govuk-body">
  Your training provider will give you more details and confirm if you qualify for funding.
</p>
