<% content_for :title do %>
  <%= @form.errors.present? ? "Error: " : nil %> Funding eligibility
<% end %>

<h1 class="govuk-heading-xl">Funding eligibility</h1>

<p class="govuk-body">
You’re not eligible for scholarship funding for the <b><%= localise_sentence_embedded_course_name(course) %></b>
as you do not work in one of the eligible settings, such as state-funded schools.
This means that you would need to pay for this course another way.
<br>
However, as lead mentor for and accredited ITT provider, you're eligible for scholarship funding for the <%= course_short_code(npqltd) %>.
<br>
You can go back and select the <%= course_short_code(npqltd) %> instead.
</p>

