<% content_for :title do %>
  <%= @form.errors.present? ? "Error: " : nil %> DfE scholarship funding is not available
<% end %>

<h1 class="govuk-heading-xl">DfE scholarship funding is not available</h1>

<p class="govuk-body">To be eligible for scholarship funding for the <b><%= course_name %></b> you must work in one of these settings in England:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>state-funded schools</li>
  <li>state-funded 16 to 19 organisations</li>
  <li>independent special schools</li>
  <li>virtual schools</li>
  <li>hospital schools</li>
  <li>young offender institutions</li>
</ul>

<p class="govuk-body">From the answers you have given us you should be eligible for scholarship funding for the NPQ Leading Teacher Development (NPQLTD). you can go back and select the NPQLTD or continue with your registration for <b><%= course_name %></b>.</p>
