<div class="govuk-notification-banner" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Important
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      A parity check is currently in-progress
    </h3>
    <p class="govuk-body">It was started <%= tag.strong(time_ago_in_words(@parity_check_started_at)) %> ago.</p>
  </div>
</div>

