<% content_for :title, "Parity Checks" %>

<% if @parity_check_running %>
  <%= render(partial: "running_parity_check") %>
<% end %>

<h1 class="govuk-heading-xl">Parity Checks</h1>

<p class="govuk-body">You can compare ECF and NPQ API responses using the parity check tool.</p>

<%= button_to "Run parity check", { action: :create }, class: "govuk-button govuk-button--warning", disabled: @parity_check_running %>

<% if @parity_check_completed %>
  <%= render(partial: "completed_parity_check") %>
<% end %>
