<% content_for :side_navigation do %>
  <h2 class="govuk-heading-s">
    <%= @application.user.full_name %>, <%= @application.course.name %>, <%= @application.created_at.to_date.to_fs(:govuk) %>
  </h2>
  <%=
    render NpqSeparation::SubNavigationComponent.new(
      request.path,
      structure: [
        NpqSeparation::NavigationStructure::Node.new(
          name: "Application details",
          href: npq_separation_admin_application_path(@application),
          prefix: %r{/npq-separation/admin/applications/\d+$},
        ),
        NpqSeparation::NavigationStructure::Node.new(
          name: "Application history",
          href: npq_separation_admin_applications_history_path(@application),
          prefix: %r{/npq-separation/admin/applications/\d+/history$},
        ),
      ],
    )
  %>
<% end %>
