<h1 class="govuk-heading-l">All applications</h1>
<%=
  govuk_table do |table|
    table.with_head do |header|
      header.with_row do |row|
        row.with_cell(text: "ECF ID")
        row.with_cell(text: "Applicant")
        row.with_cell(text: "School")
      end
    end

    table.with_body do |body|
      @applications.each do |application|
        body.with_row do |row|
          row.with_cell(text: govuk_link_to(application.ecf_id, npq_separation_admin_application_path(application.id)))
          row.with_cell(text: govuk_link_to(application.user.full_name, npq_separation_admin_user_path(application.user)))
          row.with_cell(text: govuk_link_to(application.school&.name, npq_separation_admin_school_path(application.school)))
        end
      end
    end
  end
%>

<%= govuk_pagination(pagy: @pagy) %>
