<%= tag.h2(class: "govuk-heading-m", id: question_id) do %>
  Do I need a Teacher Reference Number even though I’m not a teacher?
<% end %>

<p class="govuk-body">
  Yes. Everyone who registers for an NPQ will need a TRN, even if you’re working in early years, further education or qualified as a teacher outside England.
</p>
