<%= tag.h2(class: "govuk-heading-m", id: question_id) do %>
  How do I choose a provider?
<% end %>

<p class="govuk-body">
  The NPQ for Early Years Leadership is offered by the following lead training providers:
</p>

<ul class="govuk-list govuk-list--spaced govuk-list--bullet">
  <li>
    <a class="govuk-link" href="https://www.ambition.org.uk/">Ambition Institute</a>
  </li>

  <li>
    <a class="govuk-link" href="https://www.outstandingleaders.org/npq">Best Practice Network (home of Outstanding Leaders Partnership)</a><br>Provides all courses. Partners with Teach First as their lead provider to deliver the NPQEYL.
  </li>

  <li>
    <a class="govuk-link" href="https://www.cefel.org.uk/npq/">Church of England</a><br> Partners with Teacher Development Trust as their lead provider to deliver the NPQEYL.
  </li>

  <li>
    <a class="govuk-link" href="https://www.educationdevelopmenttrust.com/npqs">Education Development Trust</a>
  </li>

  <li>
    <a class="govuk-link" href="http://www.llse.org.uk/">LLSE</a><br>Provides all courses. Partners with Education Development Trust as their lead provider to deliver the NPQEYL.
  </li>

  <li>
    <a class="govuk-link" href="https://www.school-led.org.uk/">School-Led Network </a>
  </li>

  <li>
    <a class="govuk-link" href="https://tdtrust.org/npqs/">Teacher Development Trust</a>
  </li>

  <li>
    <a class="govuk-link" href="http://www.teachfirst.org.uk/npqs">Teach First</a>
  </li>

  <li>
    <a class="govuk-link" href="https://www.ucl.ac.uk/ioe/departments-and-centres/centres/ucl-centre-educational-leadership/national-professional-qualification-programmes">UCL Institute of Education</a>
  </li>
</ul>

<p class="govuk-body">
  You should look at their websites to see if they offer courses in your area and how they deliver training. Contact them if you have any questions.
</p>
