<%= tag.h2(class: "govuk-heading-m", id: question_id) do %>
  What do I need to register for the NPQ for Early Years Leadership?
<% end %>

<p class="govuk-body">
  Before you register, you’ll need to make sure you have done the following:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Got a Teacher Reference Number (TRN)</li>
  <li>Chosen a training provider</li>
  <li>Know how your NPQ is being paid for</li>
</ul>

<p class="govuk-body">You’ll need to know your Ofsted unique reference number (URN) if you or your employer are registered on the Ofsted Early Years Register, or you are registered through a Childminder Agency.</p>
