<%= tag.h2(class: "govuk-heading-m", id: question_id) do %>
  What to do if you’ve forgotten your TRN
<% end %>

<p class="govuk-body">If you’re a qualified teacher or have previously registered for an NPQ, you’ll have a TRN already. </p>

<p class="govuk-body"><%= govuk_link_to("Find a lost TRN or check if you have one (opens in new tab)", "https://www.gov.uk/guidance/teacher-reference-number-trn#what-to-do-if-youve-forgotten-your-trn)", { target: "_blank" }) %></p>

