name: Rebuild flow visualisation

# on:
#   workflow_dispatch:
#   push:
#     branches:
#       - main
#   pull_request:

jobs:
  deploy:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4.7
          bundler-cache: true

      - name: Install yarn
        run: npm install yarn -g

      - name: Install Graphviz
        run: sudo apt install graphviz

      - run: mkdir -p tmp/visualisations

      - name: Build visualisation
        run: |
          dot -V
          bundle exec rails "registration_wizard:visualise[png]"

      - name: Checkout wiki code
        if: github.ref == 'refs/heads/main'
        uses: actions/checkout@v6
        with:
          repository: ${{github.repository}}.wiki
          path: markdown

      - name: Push updated visualisation to repo Wiki
        if: github.ref == 'refs/heads/main'
        run: |
          cp tmp/visualisations/registration_wizard_visualisation.png markdown/visualisations/registration_wizard_visualisation.png
          cd markdown
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add visualisations/registration_wizard_visualisation.png
          git diff-index --quiet HEAD || git commit -m "Update flow visualisation" && git push
