name: Delete review

on:
  pull_request:
    types: [closed]
    branches: [main]
  workflow_dispatch:
    inputs:
      pr_number:
        description: PR number of review app to delete
        required: true
        type: string

jobs:
  delete-review-app:
    name: Delete Review App ${{ github.event.pull_request.number }}
    concurrency: deploy_review_${{ github.event.pull_request.number }}
    environment: review
    if: ${{ !contains(github.event.pull_request.labels.*.name, 'dependencies') || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      packages: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6

      - uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - uses: google-github-actions/auth@v3
        with:
          project_id: ecf-bq
          workload_identity_provider: projects/808138694727/locations/global/workloadIdentityPools/npq-registration/providers/npq-registration

      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.4
          terraform_wrapper: false

      - name: Set environment variables
        shell: bash
        run: |
          source global_config/review.sh
          echo "AZURE_RESOURCE_PREFIX=${AZURE_RESOURCE_PREFIX}" >> $GITHUB_ENV
          echo "CONFIG_SHORT=${CONFIG_SHORT}" >> $GITHUB_ENV
          echo "SERVICE_SHORT=${SERVICE_SHORT}" >> $GITHUB_ENV
          echo "ENVIRONMENT=${ENVIRONMENT}" >> $GITHUB_ENV
          echo "KEY_PREFIX=${PULL_REQUEST_NUMBER}" >> $GITHUB_ENV
          echo "DOCKER_IMAGE=ghcr.io/dfe-digital/npq-registration:no-tag" >> $GITHUB_ENV

      - name: Set pull_request_number
        id: pull_request_number
        run: |
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            echo "PULL_REQUEST_NUMBER=${{ github.event.inputs.pr_number }}" >> $GITHUB_ENV
          else
            echo "PULL_REQUEST_NUMBER=${{ github.event.pull_request.number }}" >> $GITHUB_ENV
          fi

      - name: Delete Review App
        id: delete-review-app
        uses: DFE-Digital/github-actions/delete-review-app@master
        with:
          gcp-wip: projects/808138694727/locations/global/workloadIdentityPools/npq-registration/providers/npq-registration
          gcp-project-id: ecf-bq
          azure-client-id: ${{ secrets.AZURE_CLIENT_ID }}
          azure-subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          container-name: terraform-state
          pr-number: ${{ github.event.pull_request.number || github.event.inputs.pr_number }}
          resource-group-name: "s189t01-cpdnpq-rv-rg"
          storage-account-name: "s189t01cpdnpqrvtfsa"
          tf-state-file: "${{ github.event.pull_request.number || github.event.inputs.pr_number }}.tfstate"

