name: "RSpec"

on:
  workflow_call:
    inputs:
      ruby-version:
        description: Ruby version
        type: string
        required: false
        default: "3.3.4"
      node-version:
        description: Node version
        type: string
        required: false
        default: "20.15.1"

env:
  code-coverage-artifact-name: code_coverage_${{github.run_number}}
  unit-tests-artifact-name: unit_tests_${{github.run_number}}
  rubocop-artifact-name: rubocop_results_${{github.run_number}}

jobs:
  ruby_linting:
    name: "Lint ruby"
    env:
      GOVUK_NOTIFY_API_KEY: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        name: Checkout Code

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ inputs.ruby-version }}

      - name: Install dependencies
        run: bundle install

      - name: Lint Ruby
        run: bundle exec rubocop --format json --out=out/rubocop-result.json

      - name: Keep Rubocop output
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.rubocop-artifact-name }}
          path: ${{ github.workspace }}/out/rubocop-result.json

  scss_linting:
    name: "Lint SCSS"
    env:
      GOVUK_NOTIFY_API_KEY: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        name: Checkout Code

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ inputs.ruby-version }}

      - name: Install dependencies
        run: bundle install

      - name: Lint SCSS
        run: |-
          bundle exec rake lint:scss

  rspec:
    name: Run Rspec

    runs-on: ubuntu-latest

    env:
      RAILS_ENV: test
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      DB_HOSTNAME: 127.0.0.1
      DB_PORT: 5432
      DATABASE_URL: postgres://postgres:postgres@localhost:5432
      SECRET_KEY_BASE: abc123
      NODE_OPTIONS: --openssl-legacy-provider

    services:
      postgres:
        image: postgres:14-alpine
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    strategy:
      fail-fast: false
      matrix:
        ci_node_total: [6]
        ci_node_index: [0, 1, 2, 3, 4, 5]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ inputs.ruby-version }}

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node-version }}

      - name: Install gems
        run: |
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3

      - name: Install yarn
        run: npm install yarn -g

      - name: Install node.js dependencies
        run: yarn install --frozen-lockfile

      - name: Create screenshots directory
        run: mkdir -p tmp/capybara

      - name: Set up test database
        run: bin/rails db:setup

      - name: Precompile assets
        run: bundle exec rake assets:precompile

      - name: Run tests
        env:
          CI_NODE_TOTAL: ${{ matrix.ci_node_total }}
          CI_NODE_INDEX: ${{ matrix.ci_node_index }}
        run: |-
          bundle exec rake 'knapsack:rspec[--format RspecSonarqubeFormatter --out ./test-report/test-report-${{ matrix.ci_node_index }}.xml --format progress]' spec
  
      - name:  Keep Code Coverage Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.code-coverage-artifact-name }}_${{ matrix.ci_node_index }}
          path: ./coverage

      - name:  Keep Unit Tests Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.unit-tests-artifact-name }}_${{ matrix.ci_node_index }}
          path: ./test-report/*

  sonar-scanner:
    name: Sonar Scanner
    runs-on: ubuntu-latest
    needs: [ rspec, ruby_linting ]
    if: github.ref != 'refs/heads/main'
    environment:
      name: staging
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ inputs.ruby-version }}

      - name: Install gems
        run: |
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3

      - name: Setup sonarqube
        uses: warchant/setup-sonar-scanner@v8

      - name: Download Artifacts
        uses: actions/download-artifact@v4

      - name: Combine Coverage Reports
        run: |-
          # Copy files from separate artifacts into one directory
          mkdir ${{github.workspace}}/code_coverage
          cp -r ${{github.workspace}}/${{ env.code-coverage-artifact-name }}_*/ ${{github.workspace}}/code_coverage
          bundle exec rake coverage:collate
        env:
          COVERAGE_DIR: ${{github.workspace}}/code_coverage

      - name: Login Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Fetch secrets from key vault
        uses: azure/CLI@v2
        id: keyvault-yaml-secret
        with:
          inlineScript: |
            SONAR_TOKEN=$(az keyvault secret show --name "SONAR-TOKEN" --vault-name "s189t01-cpdnpq-te-app-kv" --query "value" -o tsv)
            echo "::add-mask::$SONAR_TOKEN"
            echo "SONAR_TOKEN=$SONAR_TOKEN" >> $GITHUB_OUTPUT

      - name: Run sonarqube
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: sonar-scanner
           -Dsonar.token=${{ steps.keyvault-yaml-secret.outputs.SONAR_TOKEN }}
           -Dsonar.organization=dfe-digital
           -Dsonar.host.url=https://sonarcloud.io/
           -Dsonar.projectKey=DFE-Digital_npq-registration
           -Dsonar.testExecutionReportPaths=${{github.workspace}}/${{env.unit-tests-artifact-name}}_0/test-report-0.xml,\
            ${{github.workspace}}/${{env.unit-tests-artifact-name}}_1/test-report-1.xml,\
            ${{github.workspace}}/${{env.unit-tests-artifact-name}}_2/test-report-2.xml,\
            ${{github.workspace}}/${{env.unit-tests-artifact-name}}_3/test-report-3.xml,\
            ${{github.workspace}}/${{env.unit-tests-artifact-name}}_4/test-report-4.xml,\
            ${{github.workspace}}/${{env.unit-tests-artifact-name}}_5/test-report-5.xml
           -Dsonar.ruby.coverage.reportPaths=${{github.workspace}}/code_coverage/coverage.json
           -Dsonar.ruby.rubocop.reportPaths=${{github.workspace}}/${{env.rubocop-artifact-name}}/rubocop-result.json
