<div class="govuk-cookie-banner" data-nosnippet role="region" aria-label="Cookies on Register for a national professional qualification">
  <div class="govuk-cookie-banner__message govuk-width-container">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-cookie-banner__content">
          <p>You’ve accepted additional cookies. You can <%= govuk_link_to "change your cookie settings", cookies_path %> at any time.</p>
        </div>
      </div>
    </div>

    <%= form_tag hide_cookie_preferences_path do |f| %>
      <%= hidden_field_tag :return_path, (request.env["REQUEST_PATH"] || "/") %>

      <div class="govuk-button-group">
        <%= button_tag "Hide this message", class: "govuk-button", data: { module: "govuk-button" } %>
      </div>
    <% end %>
  </div>
</div>
