<p class="govuk-!-margin-top-2">
  Contact <%= application.lead_provider.name %> to check if you're eligible for scholarship funding and that they can offer you a scholarship funded space.
  If you have not done so already.
</p>

<%= govuk_details(summary_text: "What if I'm not eligible for scholarship funding or there are not funded spaces available with my chosen provider?") do %>
  <p class="govuk-!-margin-bottom-2">You can:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      register with this provider again at a later date (courses are run twice a year,
      except for the Early headship coaching offer which varies by provider and is available year-round)
    </li>
    <li>
      register with a different provider
    </li>
    <li>
      explore other payment options, including paying for the course yourself or checking
      if your workplace or trust can cover the cost
    </li>
  </ul>
<% end %>