<p class="govuk-!-margin-top-2">
  The Department for Education (DfE) will review your registration to check if you're eligible for scholarship funding. We may contact you if we need more information.
</p>

<p class="govuk-!-margin-top-2">
  If you're eligible, this does not guarantee your course will be funded. Your provider must confirm you have a scholarship-funded place.
</p>

<p class="govuk-!-margin-top-2">
  Contact <%= application.lead_provider.name %> to check if they can offer you a scholarship-funded place.
</p>


<h3>If no scholarship-funded place is available</h3>
<p class="govuk-!-margin-bottom-2">You can:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>
    register with this provider again later in the year
  </li>
  <li>
    register with a different provider
  </li>
  <li>
    consider other payment options, such as self-funding or asking if your workplace or trust can cover the cost
  </li>
</ul>
