<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Personal details</h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value">
          <%= link_to_identity_account(request.original_url) %> to check or change your personal details.
        </dd>
      </div>
    </dl>
  </div>
</div>
