<p class="govuk-body govuk-!-margin-top-2">
  You need to apply separately with your training provider, if you have not done so already.
</p>

<p class="govuk-body">
  They’ll email you to explain what you need to do next.
</p>

<p class="govuk-body">
  During the application process, your provider will check your:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>identity</li>
  <li>place of work</li>
  <li>suitability for the NPQ course you’ve chosen</li>
  <li>eligibility for scholarship funding</li>
  <li>decision to complete an NPQ is supported by your workplace</li>
</ul>
