<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">Work details</h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Do you work in England?</dt>
        <dd class="govuk-summary-list__value"><%= boolean_tag(application.teacher_catchment == 'england') %></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Work setting</dt>
        <dd class="govuk-summary-list__value"><%= I18n.t(application.work_setting, scope: "helpers.label.registration_wizard.work_setting_options") %></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Employer name</dt>
        <dd class="govuk-summary-list__value"><%= application.employer_name_to_display %></dd>
      </div>
      
      <% if application.employer_urn.present? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Employer unique reference number</dt>
          <dd class="govuk-summary-list__value"><%= application.employer_urn %></dd>
        </div>
      <% end %>
      
    </dl>
  </div>
</div>
