<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">NPQ applications</h1>

    <%= render GovukComponent::SummaryListComponent.new do |component| %>
      <% current_user.applications.each do |application| %>
        <% component.row do |row|
             row.key { 'Course' }
             row.value { localise_course_name(application.course) }
          end %>

        <% component.row do |row|
             row.key { 'Lead provider' }
             row.value { application.lead_provider.name }
          end %>
      <% end %>
    <% end %>
  </div>
</div>
